= form.input question.tag, label: simple_format(question.title).html_safe, input_html: {value: response.answer}, hint: simple_format(question.hint).html_safe, placeholder: question.placeholder, required: question.required, as: :text
