= form.input question.tag, checked: response.answer, label: simple_format(question.title).html_safe, hint: simple_format(question.hint).html_safe, as: :radio_buttons, required: question.required, collection: question.choices.split(',')
