<div class="banner">
  <div class="banner-text">
    <h1 class="h0">Edit Season</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <%= render partial: "form" %>
    <div class="spacer"></div>
  </div>
</div>
