<h1><%= @semester.season %></h1>
<h1><%= @semester.year %></h1>

<h1>Apps</h1>
<table border="1">
  <% @semester.student_applications.each do |app| %>
    <tr>
      <td><%= app.applicant.name %></td>
      <td><%= app.applicant.email %></td>
    </tr>
  <% end %>
</table>

<h1>Projects placeholder</h1>
