.dream-banner-container {
  position: absolute;
  width: 200%;
  height: 1000px;
  left: -50%;
  top: -300px;
  transform: skewY(-15deg);

  .stripe {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .skew-x-30 {
    transform: skewX(30deg);
  }
  .skew-x-neg30 {
    transform: skewX(-30deg);
  }

  .stripe-0 {
    @extend .stripe;
    height: 80%;

    .left {
      flex: 1;
      @extend .skew-x-30;
      background: linear-gradient(
        0deg,
        $dream-main-yellow,
        $dream-orange
      );
    }
    .right {
      flex: 1;
      @extend .skew-x-30;
      background: linear-gradient(
        90deg,
        $dream-main-yellow,
        $dream-orange
      );
    }
  }

  .stripe-1 {
    @extend .stripe;
    height: 20%;

    .left {
      flex: 1.5;
      @extend .skew-x-neg30;
      background: linear-gradient(
        190deg,
        $dream-light-yellow,
        white
      );
    }
    .right {
      flex: 1;
      @extend .skew-x-neg30;
      background: linear-gradient(
        45deg,
        $dream-orange,
        $dream-main-yellow
      );
    }
  }
}

.dream-banner-placeholder {
  width: 100%;
  height: 760px;
}

.dream-ctas-container {
  position: absolute;
  left: 15%;
  top: 35%;

  .title {
    margin-bottom: $md;
    font-size: 36px;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    animation: slideLeft 400ms both;
    animation-delay: 200ms;
  }

  .github {
    color: $dream-orange;
    animation: slideDown 400ms both;
    animation-delay: 400ms;
  }

  .project {
    margin-left: $sm;
    color: $dream-pink;
    animation: slideDown 400ms both;
    animation-delay: 400ms;
  }
}

.dream-phone-display {
  position: absolute;
  width: 360px;
  height: 720px;
  right: 15%;
  top: 5%;
  padding: 102px 34px 102px 34px;
  background-image: image_url("projects/apple-iphone-silver.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transform: matrix3d(
    0.959,	 0.0726,	0,	-0.0000922,
    -0.186,  0.936,	  0,	-0.000266,
    0,	     0,	      1,	0,
    32,	     3,	      0,	1
  );

  animation: scaleInSkew 500ms both;
  animation-delay: 500ms;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.dream-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 800px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;


  .mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;

    .title {
      color: $dream-pink;
      text-transform: uppercase;
    }

    .description {
      font-size: 16px;
    }
  }

  .graphics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;

    .section-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: $lg;
      color: $dream-pink;
      text-align: center;
    }

    .section-icon {
      @extend .section-card;
      font-size: 60px;
      margin: $md;
    }

    .section-students {
      @extend .section-card;
    }

    .section-sites {
      @extend .section-card;
    }

    .section-classrooms {
      @extend .section-card;
    }

    .section-stat {
      font-size: 48px;
      font-weight: 300;
    }

    .section-label {
      font-size: 16px;
      font-weight: bold;
      color: $dark-gray;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.dream-why-technology-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  margin-top: 100px;
  padding: $lg 150px;

  .title {
    color: $dream-pink;
    font-size: 30px;
    text-transform: uppercase;
    margin: $sm;
  }

  .testimonial-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .testimonial-image {
    max-width: 30%;
    max-height: 30%;
    margin: $lg;
  }

  .testimonial {
    margin: $lg;
  }
}
