.mdContent {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  p {
    color: $dark-gray-70;
    margin-bottom: 10px;
  }

  em {
    font-style: oblique;
  }

  ul {
    list-style: disc inside;
  }

  li {
    color: $dark-gray-70;
    margin-bottom: 5px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $bptext-font;
    font-weight: 700;
    margin-top: 20px;
    color: $dark-gray;
  }

  h1 {
    font-size: 28pt;
  }

  h2 {
    font-size: 24pt;
  }

  h3 {
    font-size: 18pt;
  }
}
