.npo-application-header {
  font-family: $bptext-font;
  font-size: 36px;
  font-weight: 600;
}

.npo-application-subheader {
  font-family: $bptext-font;
  font-size: 26px;
  font-weight: 500;
}

.npo-application-home-container {
  max-width: 800px;
  padding-top: 60px;

  .static-page-desc {
    font-size: 18px;
  }
}

.npo-application-edit-container {
  max-width: 800px;
  padding-top: 60px;
  padding-bottom: 80px;

  small {
    display: inline-block;
    font-size: 14px;
  }
}

p.npo-application-notify {
  transition: 0.5s all;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 20px;
  cursor: auto;
  pointer-events: auto;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  opacity: 0;
}

p.npo-application-notify:hover {
  opacity: 1;
}

.npo-application-section--disabled::before {
  opacity: 1;
  position: relative;
  top: 100px;
  left: 100px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}

.npo-application-section--disabled > * {
  opacity: 0.1;
  cursor: not-allowed;
  pointer-events: none;
}

.npo-application-section--disabled {
  position: relative;
  cursor: not-allowed;
}
