= render "header"

.container.form-container
  .apply-page-header.marginBot-lg
    h1 Student Application
    h2 External Team

  p.static-page-desc.marginBot-md
    = t ".banner"
    | The application is due on
    strong.apply-page-due< Friday, April 28 at 11:59 pm.

  p.static-page-desc
    | If you have any questions, please contact us
    span< = link_to "here", new_contact_form_path
    |. Good luck!

  .application-form.marginTop-xl
    = render "form_errors", obj: @external_application
    = simple_form_for @external_application, url: external_applications_path do |f|

      = f.input :name
      = f.input :email
      = f.input :phone
      = f.input :major
      = f.input :year, as: :radio_buttons, collection: [ "Freshman", "Sophomore", "Junior", "Senior", "Other" ]

      h5 Positions Applying For
      = f.input :operations, label: "Operations Director", input_html: { checked: false }
      = f.input :design, label: "Design Director", input_html: { checked: false }
      = f.input :content, label: "Content Director", input_html: { checked: false }

      = f.input :applied_before, as: :radio_buttons
      = f.input :resume, as: :file

      = f.input :website
      = f.input :why_join
      = f.input :experience
      = f.input :design_experience

      label for='available_for_gm'
        input type='checkbox' name='available_for_gm' id='available_for_gm'
        = t '.available_for_gm'

      div
        = f.button :submit, 'Submit Application', disabled: true, class: "bp-btn btn-lg"

javascript:
  $('.external_application_why_no_bp_games').hide();
  $('.external_application_why_no_retreat').hide();
  $('.external_application_website').hide();

  $('#external_application_available_for_bp_games').on('click', function() {
    if($(this).is(':checked')) {
      $('.external_application_why_no_bp_games').hide();
    } else {
      $('.external_application_why_no_bp_games').show();
    }
  });

  $('#external_application_available_for_retreat').on('click', function() {
    if($(this).is(':checked')) {
      $('.external_application_why_no_retreat').hide();
    } else {
      $('.external_application_why_no_retreat').show();
    }
  });

  $('#available_for_gm').on('click', function() {
    if($(this).is(':checked')) {
      $('input[type="submit"]').prop("disabled", false)
    } else {
      $('input[type="submit"]').prop("disabled", true)
    }
  });

  $('#external_application_design').on('click', function() {
    if($(this).is(':checked')) {
      $('.external_application_website').show();
    } else {
      $('.external_application_website').hide();
    }
  })

  // HACK: Can't do multiline placeholders any other way. Lots of code repetition here. Delete soon.


  $('#new_external_application').on('submit', function() {
    if($('#external_application_why_join').val() === whyJoinPlaceholder){
      $('#external_application_why_join').val('').removeClass('greyed');
    }

    if($('#external_application_experience').val() === experiencePlaceholder){
      $('#external_application_experience').val('').removeClass('greyed');
    }

    if($('#external_application_design_experience').val() === designPlaceholder){
      $('#external_application_design_experience').val('').removeClass('greyed');
    }

    if($('#external_application_website').val() === websitePlaceholder){
      $('#external_application_website').val('').removeClass('greyed');
    }
  });
