<h1><%= link_to "Edit Settings", edit_admin_settings_path %></h1>

<table border="1">
  <tr>
    <th>NPO Applications Open</th>
    <th>Student Applications Open</th>
    <th>Current Semester</th>
  </tr>
  <tr>
    <td><%= @settings.npo_app_open %></td>
    <td><%= @settings.student_app_open %></td>
    <td><%= @settings.current_semester %></td>
  </tr>
</table>
