.about-banner {
  @extend .banner;
  @include animation(FadeIn 2s ease-in);
  @include background(linear-gradient(rgba(255, 255, 255, 0.3),
                      rgba(255, 255, 255, 0.3)),
                      image-url("about/about.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  @include media($medium-screen) {
    height: 400px;
  }

  @include media($large-screen) {
    height: 500px;
  }
}

@include keyframes(FadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about-mission-block {
  @extend .center;

  p.mission {
    font-size: 1.5em;
    margin: 0;
  }
}

.about-detail-block {
  background: $light-gray;

  .about-value {
    @extend .center;

    .icon-wrapper {
      color: $blue;
      margin: auto;
      width: 80%;
    }

    p {
      margin: 0;
    }
  }
}

.about-title {
  padding-top: 30px;
}

.about-team-block {
  @extend .center;

  ul.team-pictures {
    li {
      padding-bottom: 2em;
      padding-left: 0;

      a {
        display: inline-block;
        height: 100%;
        position: relative;

        .member-image {
          height: 200px;
          width: 200px;
        }

        .member-description {
          color: transparent;
          left: 10px;
          position: absolute;
          top: 10px;
          width: 0;
          z-index: 10;
          //@include transition-ease-all(0.5s);
        }

        &:hover {
          .member-description {
            color: $white;
          }
        }
      }
    }
  }
}

// Sam: We removed sponsors from this page.
// .about-sponsor-block {
//   background: #666;

//   h2.sponsor-title {
//     @extend .center;
//     color: $light-gray;
//   }

//   ul.sponsor-list {
//     padding: 0;

//     li.sponsor-item {
//       @extend .center;
//       padding: 15px;
//       display: inline-block;
//       height: 150px;
//       font: 0/0 a;

//       &:before {
//         content: ' ';
//         display: inline-block;
//         vertical-align: middle;  // vertical alignment of the inline element
//         height: 100%;
//       }

//       a {
//         display: inline-block;
//         vertical-align: middle;
//         font: 16px/1 Arial sans-serif;

//         img {
//           width: auto;
//           max-height: 150px;
//         }
//       }
//     }
//   }
// }

.hover-icon {
  position: relative;

  img {
    @include transition(opacity 0.3s ease-in-out);
    left: 0;
    position: relative;

    &.icon-top {
      position: absolute;
      top: 0;
    }

    &.icon-top:hover {
      opacity: 0;
    }
  }
}

// NAVIGATION ARROW
.nav-arrow {
  display: block;
  padding-left: 40%;
  padding-top: 45%;
  position: relative;

  @include media(380px) {
    padding-left: 45%;
    padding-top: 27%;
  }
}

.nav-circlepop {
  position: relative;

  a {
    @include transform(translateY(-100%));
    display: block;
    height: 50px;
    margin: -42px 14px;
    outline: none;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 50px;
    z-index: 1000;

    &.prev {
      left: 0;
    }

    svg {
      display: block;
      margin: 0 auto;
      padding: 0;
    }

    &::before {
      @include transition(transform 0.3s);
      @include transition(opacity 0.3s);
      @include transform(scale(0.9));

      background: $white;
      border-radius: 50%;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .icon-wrap {
    display: block;
    height: 80%;
    margin: 32% 0 0 33%;
    position: relative;
    width: 80%;

    &::before,
    &::after {
      @include transition(transform 0.3s);
      @include transition-property(background-color 0.3s);
      @include backface-visibility(hidden);

      background: $white;
      content: "";
      height: 50%;
      left: 25%;
      position: absolute;
      width: 3px;
    }
  }

  .icon-wrap::before {
    @include transform(translateX(-50%) rotate(-60deg));
    @include transform-origin(0 100%);
  }

  .icon-wrap::after {
    @include transform(translateX(-50%) rotate(-120deg));
    @include transform-origin(0 0);
    top: 50%;
  }

  a:hover::before {
    @include transform(scale(1));
    opacity: 1;
  }

  a:hover .icon-wrap::before,
  a:hover .icon-wrap::after {
    background: $blue;
  }

  a:hover .icon-wrap::before {
    @include transform(translateX(-50%) rotate(-45deg));
  }

  a:hover .icon-wrap::after {
    @include transform(translateX(-50%) rotate(-135deg));
  }
}

// SADIE EFFECTS TEST
.effect-sadie {
  margin: 0;
}

figure.effect-sadie figcaption::before {
  @include background(linear-gradient(top, rgba(71, 125, 202, 0.5) 0%, rgba(71, 125, 202, 0.5) 75%));
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie .member-description {
  @include transition(opacity 0.35s, transform 0.35s);
}

figure.effect-sadie .member-description {
  @include transform(translate3d(0, 10px, 0));
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

figure.effect-sadie:hover .member-description {
  @include transform(translate3d(0, -50%, 0) translate3d(0, -40px, 0));
  color: $white;
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover .member-description {
  @include transform(translate3d(0, 0, 0));
  opacity: 1;
}
