.about-page-hero {
  background: $bp-blue;
  display: flex;
  flex-flow: row wrap;
  height: 90vh;
  max-height: 650px;
  overflow: hidden;
  padding: 50px 0 0;
  position: relative;

  .container {
    align-self: center;
  }

  .static-page-subtitle {
    max-width: 600px;
  }

  .page-nav {
    align-self: flex-end;
    background: $white-10;
    width: 100%;

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 15px 0;
    }

    li {
      color: $white;
      font-family: $bptext-font;
      font-size: 19px;
      font-weight: 500;
      margin: 0 15px;
    }
  }
}

.about-page-mission-section {
  background: #F4F4F4;
  overflow: hidden;
  padding: 60px 0 430px;
  position: relative;
  text-align: center;

  .mission {
    color: $dark-gray-70;
    font-family: $bptext-font;
    font-size: 29px;
    margin: 0 auto;
    max-width: 730px;
  }
}

.about-page-oval {
  background: white;
  border-radius: 100%;
  height: 350px;
  width: 120%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.about-page-values-section {
  position: relative;
  padding: 80px 0 60px;

  .img-container {
    box-shadow: 0 10px 40px $dark-gray-20;
    margin: 0 auto;
    max-width: 650px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: -350px;
    transform: translateX(-50%);
    width: 100%;
  }

  .values-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .value {
      position: relative;
      width: 30%;
    }

    .value-num {
      color: $bp-blue-10;
      font-family: $bptext-font;
      font-size: 80px;
      font-weight: 600;
      position: absolute;
      top: -20px;
    }

    .value-title {
      color: $bp-blue;
      font-family: $bptext-font;
      font-size: 26px;
      font-weight: 600;
      margin-top: 50px;
      margin-bottom: 15px;
      margin-left: 50px;
    }

    .value-desc {
      color: $dark-gray-60;
    }
  }
}
