  .pages-chapters {
    .bp-nav {
      @extend .static-page-nav;
    }
  }

  .chapter-overview-hero {
    background-image: image_url("projects/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }


  .page-nav {
    animation: slideUp 500ms both;
    animation-delay: 400ms;
    align-self: flex-end;
    background: linear-gradient(to right, rgba(24,123,229,0.95) 38%, rgba(24,123,229,0.75) 99%, rgba(24,123,229,0.75)); 
    position: relative;
    width: 100%;
    z-index: 6;

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    li {
      color: white;
      cursor: pointer;
      font-family: $bptext-font;
      font-size: 19px;
      font-weight: 500;
      margin: 0 5px;
      padding: 15px 10px;

      &:hover {
        background: $white-10;
      }
    }
  }


  .current-chapters {
    padding: 100px 200px 0px;
    position: relative;
    text-align: center;
    justify-content: center;
  }

  .chapter-card-container {
    display: flex;
    flex-flow: row wrap;
  }

  .chapter-card-column {
    margin-bottom: 40px;
    padding: 10px 20px;
    width: 33.333%;
  }
  
  .chapter-card {
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    padding-bottom: 40px;
    text-decoration: none;
    transition: 200ms;
  
    &:hover {
      background: white;
      box-shadow: 2px 2px 15px $dark-gray-10;
      transform: translateY(-5px);
    }
  
    &--image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100px;
      margin-bottom: 20px;
      width: 100%;
    }
  
    &--title {
      color: initial;
      font-family: $bptext-font;
      font-size: 23px;
      font-weight: 600;
      margin: 0 20px 20px;
    }
  
    &--summary {
      color: $dark-gray-70;
      padding: 0 20px 20px;
    }
  
    .card-button {
      font-family: $bptext-font;
      font-size: 18px;
      font-weight: 600;
      margin: 0 20px;
      margin-top: auto;
    }
  }

  .why-blueprint-section {
    padding: 50px 0;
  }
  
  .why-blueprint-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .why-blueprint-item {
    margin-bottom: 40px;
    width: 100%;
  
    .img-container {
      margin-bottom: 10px;
      margin-right: 20px;
      max-width: 100px;
      float: left;
    }
  
    h3 {
      font-family: $bptext-font;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 2px;
      margin-top: 10px;
    }
  
    p {
      font-size: 18px;
      color: $dark-gray-70;
    }
  }

  .establishment-process-section {
    background: $off-white;
    padding: 80px 0;
  
    .static-page-header {
      text-align: left;
    }
  
    .static-page-desc {
      text-align: center;
    }
  }

  .timeline-row:last-of-type .num-col:after {
    display: none;
  }
  
  .timeline-num {
    background: $off-white;
    color: $bp-blue-20;
    font-family: $bptext-font;
    font-size: 100px;
    font-weight: 600;
    position: absolute;
    left: -40px;
    top: -40px;
    z-index: 1;
  }
  
  .text-col {
    float: right;
    padding: 10px 0;
    //width: calc(100% - #{$timeline-num-width});
  }
  
  .timeline-row-title {
    display: inline-block;
    font-family: $bptext-font;
    font-size: 27px;
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .timeline-row-date {
    color: $dark-gray-60;
    display: inline-block;
    font-family: $bptext-font;
    font-size: 19px;
    font-weight: 500;
  }
  
  .timeline-row-description {
    font-size: 18px;
    color: $dark-gray-70;
  }
  
  .timeline-row-description-bold {
    color: $dark-gray-70;
    font-weight: bold;
  }
  
  .timeline-row-btn {
    margin: 25px 0 35px;
  }
  
  .timeline-row-notice {
    color: $bp-blue;
    font-size: 14px;
    font-weight: 500;
  }

  .chapter-faqs-section {
    padding: 50px 0;
  
    h3 {
      font-family: $bptext-font;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  
    p {
      color: $dark-gray-70;
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
.chapter-interest-form { 
  padding: 70px 0;
}