@media (min-width: 1200px) {
  // Override bootstrap container style for homepage
  .pages-home .container {
    width: 970px;
  }
}

.pages-home .bp-nav {
  @extend .static-page-nav;
}

.about-section,
.projects-section,
.contact-section {
  background: $off-white;
  padding: 60px 0;
}

.about-section {
  padding-top: 100px;
}

.home-section {
  background: $bp-blue;
  height: 90vh;
  max-height: 650px;
  overflow: hidden;
  padding: 50px 0;
  position: relative;

  .pattern {
    position: absolute;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;

    object {
      height: 100%;
      width: 100%;
      transform: scale(1.1);
    }

    &.show {
      animation: scaleIn 500ms both;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  .main-title {
    @extend .header-font;
    animation: slideLeft 500ms both;
    animation-delay: 200ms;
    color: $white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 24px;
    text-shadow: 3px 3px $dark-gray-20;
  }

  .main-subtitle {
    animation: slideLeft 500ms both;
    animation-delay: 350ms;
    color: $white-80;
    font-size: 22px;
    margin-bottom: 28px;
    max-width: 550px;
    text-align: center;
  }

  .main-button-container {
    animation: slideLeft 500ms both;
    animation-delay: 500ms;
    pointer-events: all;

    .bp-btn {
      transition: 150ms;
    }
    .bp-btn:hover {
      box-shadow: 0 2px 15px $dark-gray-20;
      transform: translateY(-3px);
    }
  }
}

.banner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F8F8F8;
}

.banner-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #F8F8F8;
}

.main-banner {
  animation: slideLeft 500ms both;
  animation-delay: 370ms;
  color: $dark-gray-80;
  font-weight: 500;
  font-size: 26px;
  margin-right: 20px;
  text-align: center;
}

.banner-link {
  animation: slideLeft 500ms both;
  animation-delay: 370ms;
  color: $bp-blue;
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
  transition: 300ms;
  height: 30px;
  z-index: 10;
}

.homepage-mission-statement {
  color: $dark-gray-80;
  font-family: $bptext-font;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.3;
  max-width: 950px;
  margin-bottom: 50px;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1250px;
  padding: 0 30px;

  .project-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: 200ms;
    width: 100%;
  }

  a {
    display: block;
    flex: 1;
    padding: 0 20px;
    text-decoration: none;

    // fixes visual bug in Chrome
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .project-item {
    box-shadow: 3px 3px 20px $dark-gray-10;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: $white;
    display: flex;
    height: 300px;
    justify-content: flex-end;
    overflow: hidden;
    padding: 20px;
    position: relative;
    transition: 200ms;
    flex-flow: column;
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    h4 {
      font-family: $bptext-font;
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 10px;
      position: relative;
      z-index: 1;
    }

    p {
      color: $white-90;
      font-size: 18px;
      position: relative;
      z-index: 1;
    }
  }

  .project-item:hover {
    box-shadow: 3px 3px 30px $dark-gray-20;
    transform: translateY(-10px);

    .project-img {
      transform: scale(1.05);
    }
  }
}

.involve-section {
  padding: 90px 0;

  .homepage-header {
    margin-bottom: 30px;
  }

  h4 {
    font-family: $bptext-font;
    font-size: 26px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
  }

  .involve-container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 90px;

    .text {
      flex: 1;
    }

    .image {
      border-radius: 3px;
      box-shadow: 3px 3px 30px $dark-gray-10;
      flex: 1;
      max-height: 230px;
    }
  }

  .other-org-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .img-container {
      margin: 0 auto 20px;

      img {
        max-width: 150px;
        max-height: 80px;
        object-fit: scale-down;
      }
    }

    .img-container-wide {
      margin: 0 auto 20px;
      max-width: 200px;
    }

    .org-wide {
      margin: 0 20px 30px 20px;
      width: 250px;
      text-align: center;
      text-decoration: none;
    }

    .org {
      margin: 0 20px 30px 20px;
      width: 220px;
      text-align: center;
      text-decoration: none;
    }

    h5 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      color: $dark-gray-60;
      font-size: 16px;
    }
  }
}

.contact-section {
  .contact-items {
    display: flex;
  }

  .contact-btns {
    margin-left: auto;
    width: 300px;

    button {
      margin: 10px;
    }
  }

  h3 {
    font-size: 22px;
    margin-right: 30px;
    max-width: 550px;
  }
}

// Individual project item gradients
#rlc:before {
  background: -moz-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8014b1e7', endColorstr='#14b1e7',GradientType=0 ); /* IE6-9 */
}

#ogsc:before {
  background: -moz-linear-gradient(
    top,
    rgba(20, 231, 168, 0.5) 0%,
    rgb(20, 231, 150) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(20, 231, 213, 0.5) 0%,
    rgb(20, 231, 196) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8014b1e7', endColorstr='#14b1e7',GradientType=0 ); /* IE6-9 */
}

#unloop:before {
  background: -moz-linear-gradient(
    top,
    rgba(231, 122, 20, 0.5) 0%,
    rgb(20, 231, 150) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(231, 122, 20, 0.5) 0%,
    rgb(231, 164, 20) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8014b1e7', endColorstr='#14b1e7',GradientType=0 ); /* IE6-9 */
}

#lavamae:before {
  background: -moz-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8014b1e7', endColorstr='#14b1e7',GradientType=0 ); /* IE6-9 */
}

#nbjc:before {
  background: -moz-linear-gradient(
    top,
    rgba(202, 230, 49, 0.692) 0%,
    rgb(170, 185, 31) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(108, 129, 40, 0.3) 0%,
    rgb(166, 168, 32) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

#roots:before {
  background: -moz-linear-gradient(
    top,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

#wecaresolar:before {
  background: -moz-linear-gradient(
    top,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(56, 185, 166, 0.3) 0%,
    rgba(41, 182, 129, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d38b9a6', endColorstr='#29b681',GradientType=0 ); /* IE6-9 */
}

// 2021-2022
#alemany:before {
  background: -moz-linear-gradient(
    top,
    rgba(119, 189, 150, 0.5) 0%,
    rgb(29, 121, 67) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(119, 189, 150, 0.5) 0%,
    rgb(29, 121, 67) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8014b1e7', endColorstr='#14b1e7',GradientType=0 ); /* IE6-9 */
}

#siren:before {
  background: -moz-linear-gradient(
    top,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(56, 185, 166, 0.3) 0%,
    rgba(41, 182, 129, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d38b9a6', endColorstr='#29b681',GradientType=0 ); /* IE6-9 */
}

#sundayfriends:before {
  background: -moz-linear-gradient(
    top,
    rgba(141, 171, 211, 0.692) 0%,
    rgb(61, 69, 172) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(141, 171, 211, 0.692) 0%,
    rgb(61, 69, 172) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

// 2022-2023
#cnsc:before {
  background: -moz-linear-gradient(
    top,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(56, 185, 166, 0.3) 0%,
    rgba(41, 182, 129, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(185, 56, 56, 0.3) 0%,
    rgb(182, 41, 41) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d38b9a6', endColorstr='#29b681',GradientType=0 ); /* IE6-9 */
}

#v4v:before {
  background: -moz-linear-gradient(
    top,
    rgba(119, 189, 150, 0.5) 0%,
    rgb(29, 121, 67) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(20, 177, 231, 0.5) 0%,
    rgba(20, 177, 231, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(119, 189, 150, 0.5) 0%,
    rgb(29, 121, 67) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8014b1e7', endColorstr='#14b1e7',GradientType=0 ); /* IE6-9 */
}

#culturalsurvival:before {
  background: -moz-linear-gradient(
    top,
    rgba(202, 230, 49, 0.692) 0%,
    rgb(170, 185, 31) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(108, 129, 40, 0.3) 0%,
    rgb(166, 168, 32) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

#bsc:before {
  background: -moz-linear-gradient(
    top,
    rgba(141, 171, 211, 0.692) 0%,
    rgb(61, 69, 172) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(16, 62, 110, 0.3) 0%,
    rgba(12, 62, 110, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(141, 171, 211, 0.692) 0%,
    rgb(61, 69, 172) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

// 2024-2025
#ocf:before {
  background: -moz-linear-gradient(
    top,
    rgba(50, 80, 38, 0.315) 0%,
    rgb(49, 78, 37) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(50, 80, 38, 0.315) 0%,
    rgb(49, 78, 37) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(50, 80, 38, 0.315) 0%,
    rgb(49, 78, 37) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d38b9a6', endColorstr='#29b681',GradientType=0 ); /* IE6-9 */
}

#jdi:before {
  background: -moz-linear-gradient(
    top,
    rgba(227, 127, 28, 0.316) 0%,
    rgb(227, 127, 28) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(227, 127, 28, 0.316) 0%,
    rgb(227, 127, 28) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(227, 127, 28, 0.316) 0%,
    rgb(227, 127, 28) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8014b1e7', endColorstr='#14b1e7',GradientType=0 ); /* IE6-9 */
}

#ace:before {
  background: -moz-linear-gradient(
    top,
    rgba(23, 165, 68, 0.36) 0%,
    rgb(4, 114, 187) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(23, 165, 68, 0.36) 0%,
    rgb(4, 114, 187) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(23, 165, 68, 0.36) 0%,
    rgb(4, 114, 187) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

#breadandroses:before {
  background: -moz-linear-gradient(
    top,
    rgba(231, 60, 48, 0.351) 0%,
    rgb(231, 61, 48) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(231, 60, 48, 0.351) 0%,
    rgb(231, 61, 48) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(231, 60, 48, 0.351) 0%,
    rgb(231, 61, 48) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

#trapgarden:before {
  background: -moz-linear-gradient(
    top,
    rgba(231, 60, 48, 0.351) 0%,
    rgb(231, 61, 48) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(231, 60, 48, 0.351) 0%,
    rgb(231, 61, 48) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(11, 148, 68, 0.337) 0%,
    rgb(11, 148, 68) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d103e6e', endColorstr='#0c3e6e',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 900px) {
  .home-section .pattern object {
    transform: scale(1.5);
  }
}

@media (max-width: 730px) {
  .home-section .pattern object {
    transform: scale(1.8);
  }

  .about-section {
    padding: 50px 0;
  }

  .homepage-mission-statement {
    font-size: 30px;
  }

  .projects-container {
    display: block;
    padding: 0 15px;

    a {
      margin-bottom: 20px;
      padding: 0;
    }

    .project-item {
      height: 200px;
    }
  }

  .contact-section {
    .contact-items {
      display: block;
    }

    .contact-btns {
      margin-left: 0;
      margin-top: 30px;
    }
  }
}

@media (max-width: 600px) {
  .home-section {
    max-height: 500px;

    .pattern object {
      transform: scale(2);
    }

    .container {
      align-items: flex-start;
    }

    .main-title {
      font-size: 40px;
    }

    .main-subtitle {
      font-size: 20px;
      text-align: left;
    }
  }

  .involve-section {
    .involve-container {
      margin-bottom: 40px;

      .image {
        margin: 0;
      }

      .text {
        flex: initial;
        order: 1;
        margin: 20px 0;
      }
    }
  }
}
