$laptop-width: 969px;
$small-screen: em(420);

#home-image {
  background: image-url("home/banner-bg.jpg");
  background-size: cover;
  height: 665px;

  @include media(max-width $medium-screen) {
    height: 550px;
    width: 100%;
  }
}

#home-padding {
  padding-top: 190px;

  @include media(max-width $medium-screen) {
    padding-top: 90px;
  }
}

#home-screen {
  background: image-url("elevate-africa.png");
  background-size: cover;
  border: 1px solid $gray-background-border-color;
  border-radius: 6px;
  height: 345px;
  width: 552px;
  
  @include media(max-width $medium-screen) {
    height: 150px;
    margin-bottom: 50px;
    width: 100%;
  }
}

.home-button-spacer {
  @include media(max-width $medium-screen) {
    display: none;
  }
}

#home-banner {
  background: rgba(0, 0, 0, 0.4);
  height: 600px;
  position: relative;
  width: 100%;

  @include media(max-width $medium-screen) {
    height: 400px;
  }
}

#laptop {
  bottom: -217px;
  height: 100%;
  max-height: 650px;
  position: absolute;
  text-align: center;
  width: 100%;

  @include media(max-width $medium-screen) {
    bottom: -120px;
  }

  #laptop-bg-container {
    bottom: 0;
    position: relative;
    z-index: 2;

    @include media(max-width $laptop-width) {
      bottom: 0;
      position: absolute;
    }
  }

  #laptop-bg {
    height: auto;
    max-width: $laptop-width;
    width: 100%;
  }

  #laptop-content-container {
    padding-top: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 0;

    @include media(max-width $large-screen) {
      padding-top: 2.3%;
    }

    @include media(max-width $laptop-width) {
      bottom: 0;
      padding-bottom: 6.5%;
      padding-top: 0;
      position: absolute;
    }
  }

  #laptop-content {
    border-top: 10px solid $black;
    height: auto;
    max-width: 795px;
    width: 83%;
  }
}


#home-title {
  padding-top: 75px;

  @include media(max-width $small-screen) {
    padding-top: 32px;
  }
}

#home-subtitle {
  padding-top: 5px;

  @include media(max-width $medium-screen) {
    padding-top: 25px;
  }
}

.bold-blue {
  color: $blue;
  font-weight: bold;
}

#our-projects {
  left: 25px;
  position: relative;
  text-align: left;
  top: -5px;

  @include media(max-width $medium-screen) {
    left: 0;
    text-align: center;
  }

  p,
  h2 {
    text-align: left;

    @include media(max-width $medium-screen) {
      text-align: center;
    }
  }
}

p {
  margin: 0;
}
