$sponsor-banner-bg: #0073B2;

.sponsor-banner {
  background-color: $sponsor-banner-bg;
  color: $white;
  height: 300px;
}

.sponsor-banner-bottom {
  background-color: $light-gray;
  color: $black;
  height: 300px;
}

// #sponsor-triple-top {}

#sponsor-triple-middle {
  background-color: $light-gray;
}

// #sponsor-triple-bottom {}

.sponsor-asset {
  background-color: $medium-gray;
  border-radius: 50%;
  height: 100px;
  margin: auto;
  width: 100px;
}

.sponsor-triple-image {
  background-color: $medium-gray;
  border-radius: 50%;
  height: 200px;
  margin: 40px auto;
  width: 200px;
}

.sponsor-triple-row-text {
  margin: 30px auto;
}
