.sponsor-banner {
  background-color: #0073B2;
  color: $white;
  height: 300px;
}

.sponsor-banner-bottom {
  background-color: $light-gray;
  color: $black;
  height: 300px;
}

#sponsor-triple-top {
}
#sponsor-triple-middle {
  background-color: $light-gray;
}
#sponsor-triple-bottom {
}

.sponsor-asset {
  width: 100px;
  height: 100px;
  background-color: $medium-gray;
  margin: auto;
  border-radius: 50%;
}

.sponsor-triple-image {
  width: 200px;
  height: 200px;
  background-color: $medium-gray;
  margin: 40px auto;
  border-radius: 50%;
}

.sponsor-triple-row-text {
  margin: 30px auto;
}
