<%= simple_form_for @nonprofit_application do |f| %>
  <div class="row">
    <div class="medium-6 medium-centered columns">
      <%= f.input :purpose %>
      <%= f.button :submit %>
    </div>
  </div>
<% end %>