.footer {
  $greyed-out-color: #777;
  $footer-bg-color: #333;
  $footer-text-color: #CCC;
  $footer-link-color: #AAA;
  $footer-icon-color: #BBB;

  background-color: $footer-bg-color;
  padding: 50px 10px 25px;
  text-align: left;

  h6 {
    color: $white;
    text-align: left;
  }

  .footer-section {
    padding-bottom: 5px;
  }

  p {
    color: $footer-text-color;
    text-align: left;
  }

  li {
    padding-top: 5px;
    font-size: 14px;

    a {
      color: $footer-link-color;

      &:hover {
        color: $white;
      }
    }
  }

  .footer-text {
    padding-bottom: 5px;
  }

  .greyed-out {
    color: $greyed-out-color;
  }

  .fa,
  a .fa {
    color: $footer-icon-color;
    font-size: 1em;
    margin: 10px;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  .copyright {
    color: #666;
    text-align: left;
  }

  .icons {
    text-align: right;
  }

  .general li {
    display: inline-block;
  }

  @include media(max-width $medium-screen) {
    padding: 50px 10px 40px;

    .footer-form {
      position: relative;
      top: 10px;
    }

    .fa,
    a .fa {
      position: relative;
      top: 26px;
    }
  }
}

.footer-form {
  text-align: right;
}

@include media(max-width $medium-screen) {
  .bottom-footer-section {
    padding-top: 15px;
  }
}
