.footer {
  $greyed-out-color: #777;
  $footer-bg-color: #333;
  $footer-text-color: #CCC;
  $footer-link-color: #AAA;
  $footer-icon-color: #BBB;

  background-color: $footer-bg-color;
  padding: 50px 10px 30px;
  text-align: left;

  h5 {
    color: $white;
    text-align: left;
  }

  p {
    color: $footer-text-color;
    text-align: left;
  }

  li {
    padding: 5px;

    a {
      color: $footer-link-color;

      &:hover {
        color: $white;
      }
    }
  }

  .greyed-out {
    color: $greyed-out-color;
  }

  .fa,
  a .fa {
    color: $footer-icon-color;
    font-size: 1.5em;
    margin: 10px;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  .copyright {
    color: $footer-text-color;
    text-align: left;
  }

  .icons {
    text-align: right;
  }

  .general li {
    display: inline-block;
  }

}

.footer-form {
  text-align: right;
}
