.gear-img {
  @include transform(scale(0.6, 0.6));

  background: image-url("apply/gears.svg");
  background-size: cover;
  bottom: -280px;
  height: 779px;
  left: -500px;
  position: absolute;
  width: 600px;
}

.gear-img-small {
  @include transform(scale(0.5, 0.5));

  background: image-url("apply/gears.svg");
  background-size: cover;
  bottom: -305px;
  height: 779px;
  left: -525px;
  position: absolute;
  width: 600px;
  z-index: -1;
}
