/* GENERAL STYLE GUIDE: Use these sass variables for consistent style.

COLORS:
$blue: #477DCA
$dark-gray: #333
$medium-gray: #999
$light-gray: #DDD
(Use #fff for white)

FONTS:
$header-font-family: 'Helvetica Neue', sans-serif
$body-font: 'Open Sans', sans-serif

GENERAL COMMENTS:
1) All content possible should be within the grid system. This means inside a column class that's inside a
   row class. Very sparingly use content not inside the grid system, with the exception of banners and
   spacers. Banners and spacers are detailed later in this file. However, of course there are a
   few exceptions. Just try your best!
2) Text in headlines and paragraphs should be mostly centered by using the center class when neccesary.
   When writing the actual text, try to write it so that the middle part extends further than the top and
   bottoms, like a barrel.
3) Outside of banners, of which you should only be using one a page at most, images should have padding
   between each other.
4) For now let's stay away from JS and CSS transitions (except when used for something we've specifically
   designated for animation). We'll add in effects later but it's important to have a solid layout first.

GRID SYSTEM:
Grid: http://foundation.zurb.com/docs/components/grid.html
Block Grid: http://foundation.zurb.com/docs/components/block_grid.html
            (use for arranging multiple items evenly quickly)
*/

/* Resets default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Removes Chrome's default blue outline on focus */
*:focus {
  outline: none;
}

/* Use the banner class for any banners (large screen-wide photography, illustration). Add an additional
   id for more styling. Refer to #home-banner in home.scss for an example id styling. */
.banner {
  width: 100%;
}

/* Use spacers to space your paragraphs and individual elements rather than <br> or css margins. Spacers
   are divs with one of the following three classes. See home.html.erb for an example of spacer use. */
.spacer-small {
  width: 100%;
  height: 30px;
}
.spacer {
  width: 100%;
  height: 75px;
}
.spacer-large {
  width: 100%;
  height: 150px;
}

/* Use to make your text white when putting over dark, color, or photo backgrounds. */
.white {
  color: #fff;
}

/* Center your text inside an element */
.center {
  text-align: center;
}

/* An inner div as a dark overlay to make banners darker. You have to put this inside the banner as
   if the banner was a wrapper. */
.darken {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

/* A darker version of darken . */
.blacken {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


/* If h1 isn't big enough to satisfy your needs, then use h0! Probably use for banners in
   combination with the white class. */
.h0 {
  text-align: center;
  font-size: 5em;
}

/* The general button class. Use for forms, links, actions, and all your hair care needs. */
.button {
  display: inline-block !important;
  margin: auto !important;
  padding: 15px 25px !important;
  text-decoration: none !important;
  font-size: 1.1em !important;
  line-height: 1.5 !important;
  border-radius: 6px !important;
  font-weight: 700 !important;
  background: $blue !important;
  color: #fff !important;
  border: none !important;
}

/* When you hover over buttons their background will darken */
.button:hover {
  color: #fff;
  cursor: pointer;
  background: darken($blue, 20) !important;
}

.white-bg {
  background-color: #FFFFFF;
}

.gray-bg {
  background-color: #ECECEC;
  border-top: 1px solid #CCC;
}
