.header {
  height: 48px;
  overflow: visible;
  background-color: white;
  z-index: 1;
}

.header-tab {
  float: right;
  display: block;
  margin: 8px 8px;
  padding: 4px 12px;
  font-size: 1em;
  font-weight: 500;
  color: $medium-gray;
}

.header-tab:hover {
  color: $dark-gray;
}

.header-button {
  padding: 4px 16px;
  border-radius: 4px;
  background: $blue;
  color: #fff;
  margin: 8px 20px;
}

.header-button:hover {
  color: #fff;
  cursor: pointer;
  background: $hover-button-color;
}

.header-logo {
  float: left;
  display: block;
  height: 36px;
  width: 36px;
  margin: 6px 8px 6px 20px;
  background: url(asset_path("paw.png"));
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-logo:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}


.header-admin {
  ul {
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
    background: 0x000000;

    ul {
      display: none;
      background: #ffffff; border-radius: 0px; padding: 0;
      position: absolute; top: 100%;
      border-style: solid;
      border-color: $medium-gray;
    }

    li {
      display: inline-table;

      a {
      color: $medium-gray;
      }
    }

    li:hover > ul {
      display: block;
    }
  }
}
