.header {
  background-color: $white;
  height: 48px;
  overflow: visible;
  z-index: 1;
}

.header-tab {
  color: $medium-gray;
  display: block;
  float: right;
  font-size: 1em;
  font-weight: 500;
  padding: 12px 20px;
}

.header-tab:hover {
  color: $dark-gray;
}

.header-button {
  @extend .button;

  background: $blue;
  border-radius: 4px;
  color: #fff;
  margin: 8px 20px;
  padding: 4px 16px;

  &:hover {
    color: $white;
  }
}

.header-logo {
  @include transition(1s);

  background: url(asset_path("paw.png"));
  background-size: cover;
  display: block;
  float: left;
  height: 36px;
  margin: 6px 8px 6px 20px;
  width: 36px;
}

.header-logo:hover {
  @include transform(rotate(360deg));
}


.header-admin {
  a {
    color: $medium-gray;
  }

  &:hover > ul,
  ul:hover {
    display: block;
  }

  ul {
    background: $white;
    border-color: $medium-gray;
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    display: none;
    position: absolute;
    top: 48px;
    width: 200px;
    z-index: 999;
  }

  li {
    display: inline-table;

    a {
      color: $medium-gray;
      float: left;
    }
  }
}
