.icon {
  background-color: $base-button-color;
  color: $white;
  padding: 2px 5px;
  border-radius: $base-border-radius;

  &:hover {
    background-color: $hover-button-color;
    color: $white;
  }
}
