.icon {
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: $white;
  padding: 2px 5px;

  &:hover,
  &:focus {
    background-color: $hover-button-color;
    color: $white;
  }
}
