<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <h3>Submission of nonprofit application was successful!</h3>

  <p>Hello <%= @nonprofit_application.nonprofit.name %>!
  We have received your nonprofit application for consideration for Blueprint's development. Thank you for your time, and we will get back to you as soon as possible regarding your application status.</p>
</body>
</html>
