= t("nonprofit_applications.interest_form_email.subject")
|  ====================== 
= t("nonprofit_applications.interest_form_email.message", :nonprofit => @nonprofit_interest_form.nonprofit.organization_name)
