<table border="1">
  <% @members.each do |member| %>
    <tr>
      <td><%= member.last_name %></td>
      <td><%= member.first_name %></td>
      <td><%= member.email %></td>
    </tr>
  <% end %>
</table>
