<div class="banner">
  <div class="banner-text">
    <h1 class="h0">Add New Member</h1>
  </div>
</div>

<div class="row">
  <div class="spacer"></div>
  <div class="small-12 small-centered columns">
    <%= render partial: "form", locals: { submit_text: "Submit" } %>
  </div>
  <div class="spacer"></div>
</div>
