<div class="banner" id="left-banner">
    <div class="darken">
        <!-- As an example of how to use I18n. -->
        <h1 class="white h0" id="left-title"> For Non-Profits </h1>
        <p class="white" id="left-subtitle"> The honorary member of Blueprint Basketball People </p>
    </div>
</div>
<div class="banner" id="right-banner">
    <div class="darken">
        <!-- As an example of how to use I18n. -->
        <h1 class="white h0" id="right-title"> For Students </h1>
        <p class="white" id="right-subtitle"> The honorary member of Blueprint Basketball People </p>
    </div>
</div>
