<div class="panel nonprofits-bg" id="left-panel">
    <h1 class="white h0" id="left-title"> For Non-Profits </h1>
    <p class="white subtitle" id="left-subtitle">
        Partnering with Blueprint is a fantastic way to build the perfect application to suit your organization's
        needs.
    </p>
    <div class="button" id="right-button">Apply Now</div>
    <%= link_to "Learn More", nonprofits_path, class: "button" %>
</div>
<div class="panel students-bg" id="right-panel">
    <h1 class="white h0" id="right-title"> For Students </h1>
    <p class="white subtitle" id="right-subtitle">
        Joining Blueprint is the perfect way to use skills you've learned in the classroom to give back to the
        community.
    </p>
    <div class="button" id="right-button">Apply Now</div>
    <%= link_to "Learn More", students_path, class: "button" %>
</div>
