<div class="panel-container">
  <div class="panel nonprofits-bg"></div>
  <h1 class="title"> For Non-Profits </h1>
  <p class="white subtitle">
    Partnering with Blueprint is a fantastic way to build the perfect application
    to suit your organization's needs.
  </p>
</div>

<div class="white-bg">
  <div class="spacer-small"></div>
  <div class="row">
    <div class="small-12 medium-9 columns">
      <p id="hook">
        We are an organization of passionate UC Berkeley students who
        develop web and mobile applications for non-profit organizations.
        As a partner, we will work closely with you to develop an application
        to best suit your needs. Best of all, everything we do is completely
        pro bono.
      </p>
    </div>
    <div class="small-12 medium-3 columns" id="apply-button">
      <% if @settings.npo_app_open %>
        <%= link_to "Apply Now", new_nonprofit_application_path, class: "button" %>
      <% else %>
        <div class="applications-closed">
          <p>
            Applications are now closed for this semester. Thank you for your interest!
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="spacer-small"></div>
</div>

<div class="gray-bg">

  <ul class="submenu" id="apply_nav">
    <li data-target="services">Our Services</li><li data-target="process">
        Application Process</li><li data-target="timeline">
        Project Timeline</li><li data-target="previous_work">
        Previous Work</li><li data-target="faq">
        FAQ</li>
  </ul>

  <div class="spacer-large"></div>

  <div class="row">
    <div class="title-column">
      <h1 class="title" id="services">
        Our<br>
        Services
      </h1>
    </div>

    <div class="content-column">
      <div class="row">
        <div class="small-12 columns">
          <p>
            <strong>Web Application Development</strong><br>
            This is just random text to flragen flurgen lorem ipsum text here
            goes like there are actual workds
          </p>
        </div>
        <div class="small-12 columns">
          <p>
            <strong>Mobile Application Development</strong><br>
            This is just random text to flragen flurgen lorem ipsum text here
            goes like there are actual workds
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer-large"></div>

  <div class="row">
    <div class="title-column">
      <h1 id="process">Application Process</h1>
    </div>

    <div class="content-column">

      <div class="small-12 columns">
        <ul class="timeline-vertical">
          <li class="work timeline-row">
            <div class="relative">
              <h5 class="title">Application Submission</h5>
              <span class="date"><h5>TBA</h5></span>
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>Overview of the course and what you can expect.
                Work time will be setting up your environment.</p>
            </div>
          </li>

          <li class="work timeline-row">
            <div class="relative">
              <h5 class="title">First Round Cuts</h5>
              <span class="date"><h5>TBA</h5></span>
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>Applications are reviewed by our VP of Projects and
                project leaders and preliminary cuts are made.</p>
            </div>
          </li>

          <li class="work timeline-row">
            <div class="relative">
              <h5 class="title">Organization Interviews</h5>
              <span class="date"><h5>TBA</h5></span>
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>Remaining organizations will be interviewed to better
                understand the project proposal and determine feasability.</p>
            </div>
          </li>

          <li class="work timeline-row">
            <div class="relative">
              <h5 class="title">Final Decisions</h5>
              <span class="date"><h5>TBA</h5></span>
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>The final organizations are determined with one per project leader.
                We will then go on to complete each application.</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="small-12 columns decision-criteria">
        <div class="spacer-small"></div>
        <h4 class="title">Decision Criteria</h4>
        <p>If we could, we would accept every applicant but unfortunately we
          cannot manage the volume of people and administrative overhead while
          still fulfilling our mission to the best of our abilities. The following
          criteria are what we use to evaluate applicants.</p>
        <ul>
          <li>
            <strong>Feasability</strong>
            <p>Is your project achievable given our skills?</p>
          </li>
          <li>
            <strong>Scope</strong>
            <p>Is your project achievable within the alloted timeline?</p>
          </li>
          <li>
            <strong>Credibility</strong>
            <p>Is there evidence or a proof of concept validating that your project will have an impact?</p>
          </li>
          <li>
            <strong>Impact</strong>
            <p>How much will your project impact the community?</p>
          </li>
          <li>
            <strong>Necessity</strong>
            <p>How vital is your project to your non-profit organization?</p>
          </li>
          <li>
            <strong>Alternatives</strong>
            <p>Does your organization have alternate means to achieve the same goal?</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="spacer"></div>

  <div class="row">
    <div class="small-12 columns">
      <div class="quote-block">
        <q>
          Some really awesome quote will go here from one of our previous satisfiied clients
        </q>
        <h5 class="reference">- Satisfied Client</h5>
      </div>
    </div>
  </div>

  <div class="spacer"></div>


  <div class="row">
    <div class="title-column">
      <h1 id="timeline">Project Timeline</h1>
    </div>

    <div class="content-column">
      <div class="small-12 columns">
        <ul class="timeline-slim">
          <li class="work timeline-row">
            <div class="relative">
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>
                Spec out the project and
                decide the goals and objectives.
              </p>
            </div>
          </li>

          <li class="work timeline-row">
            <div class="relative">
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>
                Begin development on top of base application.
              </p>
            </div>
          </li>

          <li class="work timeline-row">
            <div class="relative">
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>
                Midterm meeting to reevaluate remaining timeline
                and judge progress.
              </p>
            </div>
          </li>

          <li class="work timeline-row">
            <div class="relative">
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>
                Live user demos to ensure the application works
                well.
              </p>
            </div>
          </li>

          <li class="work timeline-row">
            <div class="relative">
              <span class="circle"></span>
            </div>
            <div class="timeline-content">
              <p>
                Deliver final product and maintain.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="spacer-large"></div>

  <div class="row">
    <div class="title-column">
      <h1 id="previous_work"> Previous Work </h1>
      <a href="http://www.jlin7.com/"><small><em>See More </em></small></a>
    </div>
    <div class="content-column">
      <div class="small-12 small-centered columns center">
        <div class="spacer-small"></div>
        <ul class="small-block-grid-3">
          <li><img src="http://goo.gl/EXVuUJ"></li>
          <li><img src="http://goo.gl/lrqEJC"></li>
          <li><img src="http://goo.gl/5sNrte"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="spacer-large"></div>

  <div class="row">
    <div class="title-column">
      <h1 id="faq">FAQ</h1>
    </div>
    <div class="content-column">
      <div class="small-12 columns" id="faq">
        <div class="drawer">
          <h5>What is Blueprint's project structure? <span>(+)</span></h5>
          <p>
            The client and the project leader communicate on a weekly basis to ensure the
            project’s progress. Meetings occur throughout the project engagement, beginning with
            at least one mandatory project scoping meeting with the project leader at the onset.
            A formal midpoint presentation will be given in Week 5 of the engagement, and the final
            recommendation will be delivered at a final presentation in Week 10.
          </p>
        </div>
        <div class="drawer">
          <h5>How are client team interactions conducted? <span>(+)</span></h5>
          <p>
            The client and the project leader communicate on a weekly basis to ensure the
            project’s progress. Meetings occur throughout the project engagement, beginning with
            at least one mandatory project scoping meeting with the project leader at the onset.
            A formal midpoint presentation will be given in Week 5 of the engagement, and the final
            recommendation will be delivered at a final presentation in Week 10.
          </p>
        </div>
        <div class="drawer">
          <h5>What resources does Blueprint have to ensure success? <span>(+)</span></h5>
          <p>
            The client and the project leader communicate on a weekly basis to ensure the
            project’s progress. Meetings occur throughout the project engagement, beginning with
            at least one mandatory project scoping meeting with the project leader at the onset.
            A formal midpoint presentation will be given in Week 5 of the engagement, and the final
            recommendation will be delivered at a final presentation in Week 10.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer-small"></div>


</div>
