.apply-container
  .panel-left.nonprofits-bg
    h1#left-title.white.h1 = t ".nonprofits.headline"
    p#left-subtitle.white.subtitle = t ".nonprofits.subtitle"
    = link_to "Learn More", nonprofits_apply_path, class: "button"
  .panel-right.students-bg
    h1#right-title.white.h1 = t ".students.headline"
    p#right-subtitle.white.subtitle = t ".students.subtitle"
    = link_to "Learn More", students_apply_path, class: "button"
