<div class="panel-container-left">
  <div class="panel nonprofits-bg" id="left-panel"></div>
  <h1 class="white h0" id="left-title"> For Non-&#8203;Profits </h1>
  <p class="white subtitle" id="left-subtitle">
      Partnering with Blueprint is a fantastic way to build the perfect application to suit your organization's needs.
  </p>
  <% if nonprofit_signed_in? %>
    <%= link_to "Apply Now", nonprofits_apply_path, class: "button", id: "right-button" %>
  <% else %>
    <%= link_to "Apply Now", new_nonprofit_registration_path, class: "button", id: "right-button" %>
  <% end %>
  <%= link_to "Learn More", nonprofits_apply_path, class: "button" %>
</div>

<div class="panel-container-right">
  <div class="panel students-bg" id="right-panel"></div>
  <h1 class="white h0" id="right-title"> For Students </h1>
  <p class="white subtitle" id="right-subtitle">
    Joining Blueprint is the perfect way to use skills you've learned in the classroom to give back to the
    community.
  </p>
  <div class="button" id="right-button">Apply Now</div>
  <%= link_to "Learn More", students_apply_path, class: "button" %>
</div>