<div class="panel students-bg">
  <h1 class="white h0" id="right-title"> For Students </h1>
  <p class="white subtitle" id="right-subtitle">
    Blueprint is an organization of passionate UC Berkeley students
    who develop web and mobile applications for non-profit organizations.
    As a member, you will be able to join a family of likemineded students
    working to use our education and technological prowess to make the
    world a better place.
  </p>
  <div class="button" id="right-button">Apply Now</div>
</div>

<div class="spacer-small"></div>

<div class="row decision-criteria">
  <div class="small-12 medium-5 columns">
    <h3 class="title">Decision Criteria</h3>
    <p>If we could, we would accept every applicant but unfortunately we cannot manage the volume of people and administrative overhead while still fulfilling our mission to the best of our abilities. The following criteria are what we use to evaluate applicants.</p>
  </div>
  <div class="small-12 medium-7 columns">
    <ul>
      <li>
        <strong>Passion</strong>
        <p>This is the single most important criteria. Do you demonstrate a genuine passion for social good?</p>
      </li>
      <li>
        <strong>Skill</strong>
        <p>Do you have the necessary skills to productively contribute to the mission?</p>
      </li>
      <li>
        <strong>Experience</strong>
        <p>Do you have relevant work experience? Volunteering experience?</p>
      </li>
      <li>
        <strong>Attitude</strong>
        <p>Do you demonstrate positive, hard-working attitude?</p>
      </li>
      <li>
        <strong>Teamwork</strong>
        <p>Do you display the ability to work well in a team?</p>
      </li>
      <li>
        <strong>Culture</strong>
        <p>Will you get along well with the rest of Blueprint? We’re sure you will!</p>
      </li>
    </ul>
  </div>
</div>

<div class="spacer"></div>

<div class="row">
  <h2>Application Timeline</h2>
</div>

<div class="spacer-small"></div>

<section id="cd-timeline">
  <div class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Application Submission</h2>
        <p>Organizations apply with their project proposals through the application accesible here.</p>
        <span class="cd-date">TBA</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>First Round Cuts</h2>
        <p>Applications are reviewed by our VP of Projects and project leaders and preliminary cuts are made.</p>
        <span class="cd-date">TBA</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Organization Interviews</h2>
        <p>Remaining organizations will be interviewed to better understand the project proposal and determine feasability.</p>
        <span class="cd-date">TBA</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Final Decisions Announced</h2>
        <p>The final organizations are determined with one per project leader. We will then go on to complete each application.</p>
        <span class="cd-date">TBA</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
  </div>
</section> <!-- cd-timeline -->

<div class="spacer"></div>

<div class="row">
  <div class="small-12 columns">
    <h2>Want to be involved?</h2>
    <p class="subtitle">Sign up for updates below to stay up to date on events</p>
  </div>
  <div class="small-8 small-centered columns">
    <input type="text"></input>
  </div>
</div>

<div class="spacer"></div>
