<div class="panel students-bg">
  <h1 class="white h0" id="right-title"> For Students </h1>
  <p class="white subtitle" id="right-subtitle">
    Blueprint is an organization of passionate UC Berkeley students
    who develop web and mobile applications for non-profit organizations.
    As a member, you will be able to join a family of likemineded students
    working to use our education and technological prowess to make the
    world a better place.
  </p>
  <div class="button" id="right-button">Apply Now</div>
</div>

<div class="spacer"></div>

<div class="row">
  <h2>Application Process</h2>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <ul class="timeline-vertical">
      <li class="work timeline-row">
        <div class="relative">
          <h5 class="title">Infosessions</h5>
          <span class="date"><h5>TBA</h5></span>
          <span class="circle"></span>
        </div>
        <div class="timeline-content">
          <p>Come out and talk to us
            to learn more about Blueprint at one of our infosessions.</p>
        </div>
      </li>

      <li class="work timeline-row">
        <div class="relative">
          <h5 class="title">Applications Due</h5>
          <span class="date"><h5>TBA</h5></span>
          <span class="circle"></span>
        </div>
        <div class="timeline-content">
          <p>Fill out the online application. Our inital cuts will be based
            on the application and will be emailed out ASAP.</p>
        </div>
      </li>

      <li class="work timeline-row">
        <div class="relative">
          <h5 class="title">Blueprint Games</h5>
          <span class="date"><h5>TBA</h5></span>
          <span class="circle"></span>
        </div>
        <div class="timeline-content">
          <p>A fun little event for you guys
            to flex your problem solving muscles in a team of other applicants. Second round
            cuts will be based on this event.</p>
        </div>
      </li>

      <li class="work timeline-row">
        <div class="relative">
          <h5 class="title">Behavioral Interviews</h5>
          <span class="date"><h5>TBA</h5></span>
          <span class="circle"></span>
        </div>
        <div class="timeline-content">
          <p>The final step in the applicaiton process, we really want to feel your passion for social good
            in person. Final decisions will be announced from this event.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="small-12 large-6 columns decision-criteria">
    <div class="spacer-small"></div>
    <h4 class="title">Decision Criteria</h4>
    <p>If we could, we would accept every applicant but unfortunately we cannot manage the volume of people and administrative overhead while still fulfilling our mission to the best of our abilities. The following criteria are what we use to evaluate applicants.</p>
    <ul>
      <li>
        <strong>Passion</strong>
        <p>This is the single most important criteria. Do you demonstrate a genuine passion for social good?</p>
      </li>
      <li>
        <strong>Skill</strong>
        <p>Do you have the necessary skills to productively contribute to the mission?</p>
      </li>
      <li>
        <strong>Experience</strong>
        <p>Do you have relevant work experience? Volunteering experience?</p>
      </li>
      <li>
        <strong>Attitude</strong>
        <p>Do you demonstrate positive, hard-working attitude?</p>
      </li>
      <li>
        <strong>Teamwork</strong>
        <p>Do you display the ability to work well in a team?</p>
      </li>
      <li>
        <strong>Culture</strong>
        <p>Will you get along well with the rest of Blueprint? We’re sure you will!</p>
      </li>
    </ul>
  </div>
</div>

<div class="spacer"></div>

<div class="row">
  <div class="small-12 columns faq">
    <h1> FAQ </h1>
    <div class="spacer-small"></div>
    <h4>What is Blueprint's project structure?</h4>
    <p>
      We undertake 5 projects each semester, each engagement lasting from 10 to 12 weeks.
      Projects in the spring semester run from January to May, while projects in the fall
      semester go from September to December. Each project is staffed with 1 project leader,
      4-5 consultants, and 1-2 project advisers.
    </p>
    <h4>How are client team interactions conducted?</h4>
    <p>
      The client and the project leader communicate on a weekly basis to ensure the
      project’s progress. Meetings occur throughout the project engagement, beginning with
      at least one mandatory project scoping meeting with the project leader at the onset.
      A formal midpoint presentation will be given in Week 5 of the engagement, and the final
      recommendation will be delivered at a final presentation in Week 10.
    </p>
    <h4>What resources does Blueprint have to ensure success?</h4>
    <p>
      The Berkeley Group has worked successfully with over 100 Bay Area nonprofits, ranging
      from one-man operations to international organizations. With over a decade of
      experience, TBG has built a comprehensive database of past projects for current
      project leaders and con- sultants to learn from.
      <br>
      Each project also draws upon the experience and expertise of undergraduate project
      advisers, alumni project advisers, and MBA project advisers from the Haas School of
      Business.
    </p>
  </div>
</div>

<div class="spacer-small"></div>

<div class="blue-block">
  <div class="spacer-small"></div>
  <div class="row">
    <div class="small-12 columns">
      <h2>Want to be involved?</h2>
      <p class="subtitle">Sign up for updates below to stay up to date on events</p>
    </div>
    <div class="small-8 small-centered columns">
      <input type="text"></input>
    </div>

    <div class="spacer-small"></div>
  </div>
</div>
