<!-- Vanilla HTML. Sorry. -Kevin -->
<div class="banner" id="home-banner">
  <div class="darken">
    <h1 class="white h0" id="home-title"> Jeremy Shu-How Lin </h1>
    <p class="white" id="home-subtitle"> The honorary member of Blueprint Basketball People </p>
  </div>
</div>
<div class="spacer"></div>
<div class="row">
  <div class="large-12 large-centered columns">
    <h1> His Dark Past </h1>
    <div class="spacer"></div>
    <img src="http://goo.gl/vrfAyA">
  </div>
</div>
<div class="spacer"></div>
<div class="row">
  <div class="large-7 large-centered columns center">
    <p> After receiving no athletic scholarship offers out of high school and being undrafted out of Harvard University, Lin reached a partially guaranteed contract deal in 2010 with his hometown Golden State Warriors. He seldom played in his rookie season and was assigned to the NBA Development League (D-League) three times. </p>
    <div class="spacer-small"></div>
    <a class="button" href="http://www.jlin7.com/"> Learn More </a>
  </div>
</div>
<div class="spacer"></div>
<div class="row">
  <div class="large-12 large-centered columns center">
    <h1> Some Random Pictures </h1>
    <div class="spacer"></div>
    <ul class="small-block-grid-3">
      <li><img src="http://goo.gl/EXVuUJ"></li>
      <li><img src="http://goo.gl/lrqEJC"></li>
      <li><img src="http://goo.gl/euP7Hb"></li>
    </ul>
    <div class="spacer"></div>
    <a class="button" href="http://www.jlin7.com/"> See More </a>
  </div>
</div>
<div class="spacer-large"></div>
