.banner.sponsor-banner
  .large-12.large-centered.columns
    .row
      .spacer
      h1
        |  Join Our Movement
      .center
        .spacer-small
        p
          | We offer multiple ways for your company to get involved with us. 
          br
          | Come help us acheive our mission.
.large-12.large-centered.columns
  .row
    .spacer-small
    .large-4.columns
      .sponsor-asset
      h3
        |  Event Sponsors 
      .spacer-small
      p
        |  after receiving no athletic scholarship offers out of high school and being undrafted out of harvard university, lin reached a partially guaranteed contract deal in 2010 with his hometown golden state warriors. he seldom played in his rookie season and was assigned to the nba development league (d-league) three times. 
    .large-4.columns
      .sponsor-asset
      h3
        |  Tools and Support 
      .spacer-small
      p
        |  after receiving no athletic scholarship offers out of high school and being undrafted out of harvard university, lin reached a partially guaranteed contract deal in 2010 with his hometown golden state warriors. he seldom played in his rookie season and was assigned to the nba development league (d-league) three times. 
    .large-4.columns
      .sponsor-asset
      h3
        |  General Partnerships 
      .spacer-small
      p
        |  fter receiving no athletic scholarship offers out of high school and being undrafted out of harvard university, lin reached a partially guaranteed contract deal in 2010 with his hometown golden state warriors. he seldom played in his rookie season and was assigned to the nba development league (d-league) three times. 
.spacer
.banner.sponsor-banner
  .large-12.large-centered.columns
    .row
      .spacer
      h1
        |  We Can Help
      .center
        .spacer-small
        p
          | Blooprint members are in UC Berkeley's top honor societies, and go on to work at top tech companies.
          br
          |  We can help you find the talent you need.
.row
  .large-12.large-centered.columns.center
    .spacer-small
    h1
      |  Where We Work 
    .spacer-small
    ul.small-block-grid-6
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
      li
        = image_tag("logo-github.png")
.large-12.large-centered.columns
  .row
    .spacer-small
    h1
      |  What We Offer
    .spacer-small
  #sponsor-triple-top.row
    .large-6.columns
      .sponsor-triple-image
    .large-6.columns
      .spacer-small
      h4
        |  Resume Book 
      p.sponsor-triple-row-text
        |  after receiving no athletic scholarship offers out of high school and being undrafted out of harvard university, lin reached a partially guaranteed contract deal in 2010 with his hometown golden state warriors. he seldom played in his rookie season. 
  #sponsor-triple-middle.row
    .large-6.columns
      .spacer-small
      h4
        |  Marketing and Branding 
      p.sponsor-triple-row-text
        |  after receiving no athletic scholarship offers out of high school and being undrafted out of harvard university, lin reached a partially guaranteed contract deal in 2010 with his hometown golden state warriors. he seldom played in his rookie season. 
    .large-6.columns
      .sponsor-triple-image
  #sponsor-triple-bottom.row
    .large-6.columns
      .sponsor-triple-image
    .large-6.columns
      .spacer-small
      h4
        |  Infosessions and Tech Talks 
      p.sponsor-triple-row-text
        |  after receiving no athletic scholarship offers out of high school and being undrafted out of harvard university, lin reached a partially guaranteed contract deal in 2010 with his hometown golden state warriors. he seldom played in his rookie season. 
.banner.sponsor-banner-bottom
  .row
    .large-12.large-centered.columns.center
      .spacer
      a.button

      h1
        | Contact Us
      .spacer-small
      p
        | Please contact us with any inquiries. 
        br
        | We will get back to you as soon as possible.
