<div class="projects-background">
  <div class="banner projects-banner">
    <div class="darken">
      <div class="large-12 large-centered columns">
        <h1 class="projects-banner-text"> Our Projects</h1>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="row">
    <div class="projects-section">
      <div class="project">
        <div class="projects-image" style="background-image:url(http://goo.gl/5sNrte)"></div>
        <div class="projects-card">
          <h5 class="projects-title">Oakland Digital Arts and Literacy Center</h5>
          <p class="projects-description">Providing a way for Berkeley public school teachers to fund classroom projects. Application built using ruby on rails. </p>
          <h7 class="projects-subtitle">TEAM MEMBERS:</h7>
          <div class="project-member-images">
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
          </div>
          <h7 class="projects-subtitle">STATUS:</h7>
          <div class="projects-progress">
            <div class="projects-progress-scope"></div>
            <div class="projects-progress-scope"></div>
            <div class="projects-progress-scope"></div>
            <div class="projects-progress-scope"></div>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="projects-image" style="background-image:url(http://goo.gl/EXVuUJ)"></div>
        <div class="projects-card">
          <h5 class="projects-title">Berkeley Public Schools Fund</h5>
          <p class="projects-description">Providing a way for Berkeley public school teachers to fund classroom projects. Application built using ruby on rails. Application built using ruby on rails.</p>
          <h7 class="projects-subtitle">TEAM MEMBERS:</h7>
          <div class="project-member-images">
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
          </div>
          <h7 class="projects-subtitle">STATUS:</h7>
          <div class="projects-progress">
            <div class="projects-progress-scope"></div>
            <div class="projects-progress-scope"></div>
            <div class="projects-progress-scope"></div>
            <div class="projects-progress-scope"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
