<div class="projects-background">
  <div class="banner projects-banner">
    <div class="darken">
      <div class="large-12 large-centered columns">
        <h1 class="projects-banner-text"> Our Projects</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="projects-section">
      <div class="spacer"></div>
      <div class="project">
        <div class="project-image" style="background-image:url(http://goo.gl/5sNrte)"></div>
        <div class="project-card">
          <h5 class="project-title">Berkeley Public Schools Fund</h5>
          <p class="project-description">Providing a way for Berkeley public school teachers to fund classroom project. Application built using ruby on rails. </p>
          <h7 class="project-subtitle">TEAM MEMBERS:</h7>
          <div class="project-member-images">
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
          </div>
          <h7 class="project-subtitle">STATUS:</h7>
          <div class="project-progress">
            <div class="project-progress-scope"></div>
            <div class="project-progress-scope"></div>
            <div class="project-progress-scope"></div>
            <div class="project-progress-scope"></div>
          </div>
          <div class="project-see-more"></div>
        </div>
        <div class="project-expand">
          <div class="project-expand-section">
            <div class="problem-icon">
            </div>
            <p class="project-expand-section-text">
              Every year, the schools fund would review hundreds of grant applications by hand in a very time consuming process. Grants would then only be awarded once a year for teachers, even though the teachers needed the funds throughout the year.</p>
          </div>
          <div class="project-expand-section">
            <div class="solution-icon">
            </div>
             <p class="project-expand-section-text">
               Blueprint was able to work with the Schools Fund to create Friends and Family, a local crowdfunding platform for Berkeley School District teachers to utilize. With this new platform, teachers have been able to raise almost $30,000 thus far.
            </p>
         </div>
          <div class="project-expand-section">
            <div class="demo-icon">
            </div>
            <a href="http://calblueprint.org" target="_blank" class="demo-btn demo-btn-color center">View Demo</a>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="project">
        <div class="project-image" style="background-image:url(http://goo.gl/EXVuUJ)"></div>
        <div class="project-card">
          <h5 class="project-title">Berkeley Public Schools Fund</h5>
          <p class="project-description">Providing a way for Berkeley public school teachers to fund classroom project. Application built using ruby on rails. Application built using ruby on rails.</p>
          <h7 class="project-subtitle">TEAM MEMBERS:</h7>
          <div class="project-member-images">
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
            <div class="project-member-image"></div>
          </div>
          <h7 class="project-subtitle">STATUS:</h7>
          <div class="project-progress">
            <div class="project-progress-scope"></div>
            <div class="project-progress-scope"></div>
            <div class="project-progress-scope"></div>
            <div class="project-progress-scope"></div>
          </div>
          <div class="project-see-more"></div>
        </div>
        <div class="project-expand">
          <div class="project-expand-section">
            <div class="problem-icon">
            </div>
            <p class="project-expand-section-text">
              Every year, the schools fund would review hundreds of grant applications by hand in a very time consuming process. Grants would then only be awarded once a year for teachers, even though the teachers needed the funds throughout the year.</p>
          </div>
          <div class="project-expand-section">
            <div class="solution-icon">
            </div>
            <p class="project-expand-section-text">
              Blueprint was able to work with the Schools Fund to create Friends and Family, a local crowdfunding platform for Berkeley School District teachers to utilize. With this new platform, teachers have been able to raise almost $30,000 thus far.
            </p>
          </div>
          <div class="project-expand-section">
            <div class="demo-icon">
            </div>
            <a href="http://calblueprint.org" target="_blank" class="demo-btn demo-btn-color center">View Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
