<div class="row">
  <div class="divider">
    <div class="label">Spring 2014</div>
  </div>
</div>

<div class="row">
  <div class="projects-columns">
    <div class="project-block">
      <div class="project-text">
        <a href="http://www.google.com"><h3>Oakland Digital Arts and Literacy Center</h3></a>
      </div>
    </div>
    <div class="project-block">
      <div class="project-text">
        <h3>Roots of Success</h3>
      </div>
    </div>
    <div class="project-block">
      <div class="project-text">
        <h3>Feeding Forward</h3>
      </div>
    </div>
    <div class="project-block">
      <div class="project-text">
        <h3>Rooms that Rock 4 Chemo</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="divider">
    <div class="label">Fall 2013</div>
  </div>
</div>

<div class="row">
  <div class="projects-columns">
    <div class="project-block">
      <div class="project-text">
        <h3>Berkeley Public Schools Fund</h3>
      </div>
    </div>
    <div class="project-block">
      <div class="project-text">
        <h3>United States Open Music Competition</h3>
      </div>
    </div>
    <div class="project-block">
      <div class="project-text">
        <h3>Suitcase Clinic</h3>
      </div>
    </div>
  </div>
</div>
