.apply {
  .apply-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
  }

  .panel {
    height: 370px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
  }

  .panel-container {
    background-color: rgba(0, 0, 0, 0.1);
    height: 300px;
    position: static;
    text-align: center;
    width: 100%;
    z-index: 0;
    

    .title {
      color: $white;
      padding-top: 110px;
    }
  }

  .panel-left,
  .panel-right {
    min-height: 100vh;
    text-align: center;
    width: 50%;

    @media only screen and (max-width: $medium-screen) {
      width: 100%;
    }
  }

  .nonprofits-bg {
    @include background-image(
      linear-gradient(
        rgba(50, 50, 50, 0.4),
        rgba(50, 50, 50, 0.4)
      ),
      image-url("apply/nonprofits/nonprofits.jpg")
    );
    background-position: center top;
    background-size: cover;
  }

  .students-bg {
    @include background-image(
      linear-gradient(
        rgba(27, 117, 188, 0.4),
        rgba(27, 117, 188, 0.4)
      ),
      image-url("apply/students/students.jpg")
    );
    background-position: center;
    background-size: cover;
  }

  #left-title,
  #right-title {
    padding-top: 35vh;
  }

  .subtitle {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 10px auto 14px;
    width: 75%;
  }

  #hook {
    text-align: left;
  }

  #apply-button {
    padding-top: 14px;
    text-align: center;
  }

  .submenu {
    font-size: 0.9em;
    font-weight: bold;
    list-style: none;
    text-align: center;

    li {
      border-bottom: 5px solid rgba($blue, 0);
      border-left: 1px solid lighten($medium-gray, 20);
      cursor: pointer;
      display: inline-block;
      margin: 0;
      padding: 5px 10px;
      transition-duration: 0.3s;

      &:first-child {
        border: 0;
      }

      &:hover {
        background-color: $light-gray;
        border-bottom: 5px solid rgba($blue, 1);
      }
    }
  }

  .title-column {
    @extend .large-3;
    @extend .medium-4;
    @extend .small-12;
    @extend .columns;
    text-align: right;

    h2 {
      text-align: right;
    }

    @media only screen and (max-width: $medium-screen) {
      text-align: center;

      h2 {
        text-align: center;
      }
    }
  }

  .content-column {
    @extend .large-9;
    @extend .medium-8;
    @extend .small-12;
    @extend .columns;
    border-left: 1px solid darken($light-gray, 10);
    padding-left: 50px;
    text-align: left;

    p,
    h4,
    h5 {
      text-align: left;
    }

    @media only screen and (max-width: $medium-screen) {
      border: 0;
      border-top: 1px solid darken($light-gray, 10);
    }

    .timeline-vertical {
      margin-left: 80px;
    }
  }

  .quote-block {
    background-color: lighten($light-gray, 3);
    border: 1px solid darken($light-gray, 10);
    padding: 25px 30px;

    q {
      font-size: 1.4em;
    }

    .reference {
      font-style: italic;
      margin-top: 10px;
      padding: 0 10px;
      text-align: right;
    }
  }

  .timeline-slim {
    @include timeline-vertical;
    margin: 10px;

    .timeline-content {
      margin: 0;
      padding: 0;
    }

    .circle {
      left: -45px;
    }
  }

  #faq {
    h5 {
      cursor: pointer;
      line-height: 2.3em;
    }

    .drawer p {
      display: none;
      padding-left: 10px;
    }

    .drawer .active {
      display: block;
    }


    .drawer h5 {
      padding: 5px;
      transition-duration: 0.3s;

      &:hover {
        background-color: darken($light-gray, 10);
      }
    }
  }

  .white-button {
    @extend button;
    border: 1px solid $white;
  }

  .white-bg {
    background-color: $white;
  }

  .control-label {
    color: $black;
    font-weight: 500;
    padding-bottom: 4px;
  }

  .applications-closed {
    background: lighten($light-gray, 10);
    border-color: lighten($light-gray, 5);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    color: $black;
    font-size: 90%;
    height: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
  }
}
