.student_applications,
.external_applications,
.demographic_surveys {
  .container {
    max-width: 850px;
  }

  .form-container {
    padding-top: 100px;
    padding-bottom: 80px;

    & h3 {
      color: $dark-gray;
      font-family: $bptext-font;
      font-size: 24px;
      font-weight: 600;
    }

    & h4 {
      color: $dark-gray;
      font-family: $bptext-font;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .hint > p {
    margin-bottom: 5px;
  }

  .collection-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  @media only screen and (min-width: 481px) {
    .collection-group {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (min-width: 768px) {
    .collection-group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  label.checkbox {
    display: flex;
    align-items: flex-start;
  
    input[type="checkbox"] {
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .race-group {
    margin-top: 10px;

    h4 {
      margin-bottom: 5px;
    }
  }
}

.apply-page-header {
  color: $dark-gray;
  font-family: $bptext-font;
  font-size: 38px;
  font-weight: 600;

  & h2 {
    color: $bp-blue;
    font-size: 28px;
    font-weight: 400;
  }
}

.apply-page-due,
.emph-optional {
  color: $bp-blue;
}

.apply-page-more-questions {
  color: $dark-gray;
  font-family: $bptext-font;
  font-size: 24px;
  font-weight: 600;
  margin-top: 60px;
}

.apply-page-jumbotron {
  padding: 40px;
  background-color: $smoke-20;
  border-radius: 8px;
}

.demographic_surveys {
  .form-group {
    margin: 50px 0;
  }

  .input-group {
    margin: 0;
  }
}