// Application Page CSS
.apply-banner {
  background-image: image-url("apply/students/banner.png");
  background-size: cover;
  color: $white;
  height: 260px;
}

.apply-info {
  background-color: $white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $light-gray;
  border-radius: 0 2px 2px 0;
  border-right-style: solid;
  border-right-width: 1px;
  height: 100%;
}

.apply-info-section {
  @extend .columns;
  @extend .small-12;
  @extend .medium-6;
  @extend .large-6;

  .apply-info-section-icon {
    background-size: cover;
    height: 32px;
    margin: 24px auto 12px;
    width: 32px;
  }

  .apply-info-section-text {
    color: $dark-gray;
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 52px;
    text-align: center;
    width: 80%;
  }

  .problem-icon {
    @extend .apply-info-section-icon;
    background-image: image-url("projects/problem.png");
  }

  .calendar-icon {
    @extend .apply-info-section-icon;
    background-image: image-url("apply/students/calendar.png");
  }
}
