/**
 * Styles for the admin pages' layout.
 *
 * I use flexbox to solve the sticky footer problem:
 * https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 */

.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-content {
  flex: 1;
  padding: 20px;
}

.admin-content .row {
  max-width: 95%;
}

p {
  line-height: 1.5em;
  margin: 0 0 1.5em;
}
