// Nonprofit index page

.admin-page-header {
  font-family: "BPText";
  font-size: 34px;
  font-weight: 600;
}

.admin-app-question {
  font-family: "BPText";
  font-size: 22px;
  font-weight: 600;
}


.npo-apps-name {
  width: 10%;
}

.npo-apps-email {
  width: 15%;
}

.npo-apps-summary {
  // We don't apply a width to this column so that it takes up as much space
  // as possible.
}

.npo-apps-cs169 {
  width: 10%;
}

.npo-apps-submitted {
  width: 10%;
}

.npo-apps-email-col {
  width: 15%;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
