# Copy this file into application.yml and change env variables as necessary.

SECRET_KEY_BASE: 7f84fa22437fa701a4ecc824af93768fa8764189a0a0c5d9af3de901e0e7e9c4baa4aba6dc86e93ce9955be0a40ecfc4e9649f725a17d01484c75c8fc96cad17
DEVISE_SECRET_KEY: a97e4eb39c26abb99a9756351156bcfbb916916f9ca7fcc0994b8cbcb24390310e78806e29c052fd1f77ed4c1a6d0285b0440563242ff417acc9fea1e2b7e332

# Email config
SMTP_ADDRESS: smtp.mandrillapp.com
SMTP_DOMAIN: calblueprint.org
SMTP_PASSWORD: <api_key>
SMTP_USERNAME: <user_name>

# Contact Us email
TEAM_EMAIL: <your_email_here>
production:
  TEAM_EMAIL: <bp_eteam_email>

# Staging will send emails to this address
EMAIL_RECIPIENTS: ~
staging:
  EMAIL_RECIPIENTS: <your_email_here>

# Rollbar access token; change both to match your own rollbar project
ROLLBAR_ACCESS_TOKEN: fa8ec8c5060949a6ac7016e2a80d9b6f
production:
  ROLLBAR_ACCESS_TOKEN: fa8ec8c5060949a6ac7016e2a80d9b6f

# Google analytics key; update once you set it up
# Disabled in development and test
GA_KEY: ~
production:
  GA_KEY: UA-XXXXXXX-X
