# Change the development/test database, username, and password as necessary
# and then copy the file into database.yml

development: &default
  adapter:   postgresql
  encoding:  utf8
  username:  <your username>
  password:  <your password>
  pool:      2
  timeout:   5000
  database: bp_site_development

test:
  <<: *default
  database: bp_site_test
