h1.banner = t '.banner'
p.subtitle = t '.subtitle'

.row
  .small-12.columns
    = link_to t('.new_project'), new_admin_project_path, class: 'button'

.spacer-small

h3 Published

/ These wrappers are only used for testing, not for styling. See project_spec.rb
.projects--published
  = render 'table', projects: @published_projects, sortable: true

.spacer-small

h3 Unpublished

.projects--unpublished
  = render 'table', projects: @unpublished_projects, sortable: false
