#contact-image {
  background-image: image-url("contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 365px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.spacer-form {
  height: 50px;
  width: 100%;
}

.no-margin-small input {
  @include media(max-width $medium-screen) {
    margin-bottom: 0;
  }
}

// scss-lint:disable SelectorFormat
.contact_forms-new,
.contact_forms-create {
  textarea { height: em(252px); }

  .contact_form_submit {
    text-align: center;
  }
}
// scss-lint:enable SelectorFormat

.field-wrapper {
  margin-top: 25px;
  position: relative;

  label {
    @include transition(transform 0.15s, opacity 0.2s, top 0.15s, left 0.15s,
                        background-color 0.15s, color 0.15s);
    border-radius: 3px;
    color: $medium-gray;
    font-size: 15px;
    left: 4px;
    padding: 4px 6px;
    position: absolute;
    top: 4px;
  }

  @mixin js-slider-label {
    background-color: $sky-label-blue;
    font-size: 14px;
    color: $white;
    left: 0;
    opacity: 1;
    top: -20px;
  }

  &.js-slider-focused label {
    @include js-slider-label;
  }

  &.js-slider-has-text label {
    @include js-slider-label;
    opacity: 0;
  }

  &.js-slider-focused.js-slider-has-text label {
    opacity: 1;
  }

  input,
  textarea {
    border: 1px solid $gray-background-border-color;
    border-radius: 4px;
    box-shadow: none;
    padding: 10px 15px;
    transition: 0.5s;
  }

  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    border: 1px solid $sky-label-blue;
    box-shadow: none;
  }
}
