/**
 * This is the styling for the projects table in the admin dashboard.
 *
 * We want the summary column to be the widest and the actions column to be the
 * smallest.
 */

.projects-table {

  // Show a handle when hovering over the icons used to drag and drop items
  .fa-arrows-v {
    cursor: move;
    cursor: -webkit-grabbing;
  }
}

    .projects-table__sorter {
      width: 5%;
    }

    .projects-table__title {
      width: 20%;
    }

    .projects-table__summary {
      width: 60%;
    }

    .projects-table__actions {
      width: 15%;
    }
