/**
 * Banners for the projects index and show pages
 *
 * Both banners use flexbox to vertically center text.
 * The banner on the show page contains the project's banner image, so we change
 * a bunch of the background settings there to be more similar to a project card
 * in _project-cards.scss
 */

// TODO(sam): Use this for all the banners in the app.
.projects-banner {
  @include background-image(linear-gradient($banner-bg-tint 100%, $banner-bg-tint 0),
                            asset-url("projects/projects-banner.png"));
  background-position: center;
  background-repeat: repeat, no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 250px;
  margin-bottom: 30px;

  color: $white;
}

.project-banner {
  @extend .projects-banner;

  background-image: none;
  background-color: $project-card-bg-tint;

  // We need this because the div with the image will be position: absolute
  position: relative;

  height: 350px;
}
