/**
 * Banners for the projects index and show pages
 *
 * The banner on the show page contains a project-specific banner image, so we
 * change a bunch of the background settings there to be more similar to a
 * project card in _project-cards.scss
 */

.projects-banner {
  @include banner(asset-url("cogs.jpg"),
                  $height: 400px);
}

.project-banner {
  @extend .projects-banner;

  background-image: none;
  background-color: $project-card-bg-tint;

  // We need this because the div with the image will be position: absolute
  position: relative;
}
