/**
 * Styling for the project show page content
 *
 * As much as we don't like using tags as selectors, we're kinda forced to do it
 * because the markdown output doesn't give us any classes to work with.
 */

.project-case-study {
  max-width: $medium-screen;
  margin: 20px auto 50px;
  padding: 0 1.25em;

  text-align: left;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.8em;
  }

  p {
    margin-bottom: 2em;
  }
}
