.projects-background {
  background-color: $gray-background-color;
  height: 100%;
  width: 100%;
}

.projects-section {
  @extend .columns;
  @extend .small-11;
  @extend .small-centered;
}

// start da css for da buttons
$demo-btn-color: #477DCA;
$demo-btn-hover-color: darken($demo-btn-color, 25);
$demo-btn-shadow: #3C93D5;

.demo-btn {
  border-radius: 5px;
  color: $white;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 48px auto;
  padding: 12px 20px;
  width: 75%;
}

.demo-btn:active {
  @include transform(translate(0, 5px));
  box-shadow: 0 1px 0 0;
}

.demo-btn-color {
  background-color: $demo-btn-color;
}

.demo-btn-color:hover {
  background-color: $demo-btn-hover-color;
  color: $white;
}

.project {
  $block-height: 320px;
  $project-bg-color: lighten($gray-background-color, 5);
  $project-border-color: $gray-background-border-color;
  $project-text-color: #565a5c;

  @extend .row;

  .project-expand {
    background-color: $project-bg-color;
    border: 1px solid $project-border-color;
    border-radius: 6px;
    display: none;
    overflow: hidden;
    padding: 6px;
    padding-bottom: 36px;
    width: 100%;

    .project-expand-section {
      @extend .columns;
      @extend .small-12;
      @extend .medium-4;
      @extend .large-4;

      .project-expand-section-icon {
        background-size: cover;
        height: 32px;
        margin: 24px auto 18px;
        width: 32px;
      }

      .project-expand-section-text {
        color: $project-text-color;
        font-size: 14px;
        line-height: 20px;
        margin: 0 auto;
        text-align: justify;
        text-indent: 16px;
        width: 80%;
      }

      .problem-icon {
        @extend .project-expand-section-icon;
        background-image: image-url("projects/problem.png");
      }

      .solution-icon {
        @extend .project-expand-section-icon;
        background-image: image-url("projects/solution.png");
      }

      .demo-icon {
        @extend .project-expand-section-icon;
        background-image: image-url("projects/demo.png");
      }
    }
  }

  .project-image {
    @extend .columns;
    @extend .small-12;
    @extend .medium-4;
    @extend .large-4;
    background-size: cover;
    border: 1px solid $project-border-color;
    border-radius: 6px 0 0 6px;
    height: $block-height;
  }

  .project-card {
    @extend .columns;
    @extend .small-12;
    @extend .medium-8;
    @extend .large-8;
    background-color: $white;
    border: 1px solid $project-border-color;
    border-left: 0;
    border-radius: 0 6px 6px 0;
    height: $block-height;
    padding: 10px 26px;
    position: relative;

    @mixin project-card-text {
      color: $project-text-color;
      text-align: left;
    }

    .project-title {
      @include project-card-text;
      color: $black;
      height: 57px;
      line-height: 57px;
      margin-top: 5px;
      overflow: hidden;
      padding: 0 10px;
    }

    .project-description {
      @include project-card-text;
      font-size: 16px;
      height: 48px;
      line-height: 24px;
      margin-bottom: 10px;
      padding: 0 10px;
    }

    .project-subtitle {
      @include project-card-text;
      display: block;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      padding: 12px 10px;

      @include media(max-width $medium-screen) {
        display: none;
      }
    }

    .project-member-images {
      margin-left: 4px;

      @include media(max-width $medium-screen) {
        display: none;
      }
    }

    .project-member-image {
      background-color: $blue;
      background-size: cover;
      border-radius: 24px;
      display: inline-block;
      height: 48px;
      margin: 4px;
      width: 48px;
    }

    .project-member-noimage {
      background-color: $white;
    }

    .project-progress {
      margin-left: 8px;

      @include media(max-width $medium-screen) {
        display: none;
      }
    }

    .project-progress-scope {
      background-color: $progress-red;
      display: inline-block;
      height: 8px;
      margin: 0 2px 4px 0;
      width: 20%;
    }

    .project-progress-green {
      background-color: $progress-green;
    }
  }

  .project-see-more {
    background-image: image-url("projects/see-more.png");
    background-size: cover;
    bottom: 25px;
    cursor: hand;
    height: 20px;
    opacity: 0.5;
    position: absolute;
    right: 31px;
    width: 20px;
  }

  .project-see-more:hover {
    opacity: 1;
  }
}

#projects-image {
  background-image: image-url("projects/projects-banner.png");
  background-position: center;
  background-size: cover;
  height: 365px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.projects-banner {
  background: rgba(0, 0, 0, 0.5);
  color: $white;
  height: 300px;
}

.projects-banner-text {
  line-height: 220px;
}

.bpsf {
  background-image: image-url("projects/bpsf-alt.png");
  background-position: top;
  background-size: cover;
}

.odalc {
  background-image: image-url("projects/odalc-alt.png");
  background-position: top;
  background-size: cover;
}

.ros {
  background-image: image-url("projects/rootsofsuccess.png");
  background-position: top;
  background-size: cover;
}

.ea {
  background-image: image-url("projects/elevate-africa.png");
  background-position: left;
  background-size: cover;
}

