/**
 * Styling for the nonprofit application list in the admin view.
 *
 * Basically we just adjust the column widths so that the summary column takes
 * up as much space as possible.
 */

.npo-apps {
  // Just to show structure
}

  .npo-apps__name {
    width: 10%;
  }

  .npo-apps__email {
    width: 15%;
  }

  .npo-apps__summary {
    // We don't apply a width to this column so that it takes up as much space
    // as possible.
  }

  .npo-apps__cs169 {
    width: 10%;
  }

  .npo-apps__submitted {
    width: 10%;
  }

  .npo-apps__actions {
    width: 10%;
  }
