.bp-btn {
  background: $bp-blue;
  border: $white;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $bptext-font;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: inherit;
  opacity: 0.9;
  padding: 8px 12px;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.btn-dark {
    background: $dark-gray;
  }

  &.btn-white {
    background: white;
    color: $dark-gray;

    &--clear {
      background: $white-20;
      color: $white;
    }
  }

  &.btn-light {
    background: $smoke-40;
    color: $dark-gray;

    &:hover {
      background: $smoke-60;
    }
  }
}

.bp-btn {
  &.btn-lg {
    font-size: 19px;
    padding: 10px 15px;
  }

  &.btn-sm {
    font-size: 15px;
    padding: 6px 10px;
  }
}
