.photo-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-left: 10%;

  .photo {
    height: 100%;
    margin: 0 10px;

    &:last-of-type {
      padding-right: 70px;
    }
  }

  img {
    width: 600px;
    pointer-events: none;
  }
}

@media (max-width: $breakpt-mobile) {
  .photo-carousel {
    padding: 30px 0 20px 20px;

    .photo {
      margin: 0 5px;

      img {
        width: 300px;
      }
    }
  }
}
