nav.bp-nav {
  padding: 15px 0;
  z-index: 10;

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .logo-container {
    font-family: "Poppins";
    font-size: 20px;
    transition: 100ms;

    a {
      color: $bp-blue;
      font-weight: 600;
      text-decoration: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .logo {
    background-image: image_url("logo.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
    display: inline-block;
    height: 35px;
    width: 35px;
    transition: 750ms;
    vertical-align: middle;

    &:hover {
      transform: rotate(180deg);
    }
  }

  .link-container {
    color: $bp-blue;
    display: flex;
    font-family: $bptext-font;
    font-weight: 600;
    margin-left: auto;
    text-transform: uppercase;

    li {
      color: $bp-blue-80;
      margin: 0 15px;
      transition: opacity 100ms;

      &:hover {
        color: $bp-blue;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .nav-link {
    // animation: slideDown 400ms both;
  }
}


// For use on dark or colored backgrounds
nav.bp-nav.nav-white {

  .logo-container {
    a {
      color: $white;
    }
  }

  .logo {
    background-image: image_url("logo-white.png");
  }

  .link-container {
    li {
      color: $white-80;

      &:hover {
        color: $white;
      }
    }
  }
}

.static-page-nav {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
