.bp-select {
  appearance: none;
  -webkit-appearance: none;
  background-color: $smoke-20;
  background-image: image-url("icons/menulist.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  border: 1px solid $smoke-80;
  border-radius: 2px;
  color: $dark-gray;
  font-size: 16px;
  line-height: 1;
  padding: 8px 12px;
  padding-right: 30px;

  &.select-sm {
    font-size: 15px;
    padding: 8px 10px;
    padding-right: 28px;
  }
}
