.static-page-hero {
  background-color: $bp-blue;
  display: flex;
  flex-flow: row wrap;
  height: 90vh;
  max-height: 650px;
  min-height: 520px;
  overflow: hidden;
  padding: 50px 0 0;
  position: relative;

  .container {
    align-self: center;
    position: relative;
    z-index: 5;
  }

  .static-page-subtitle {
    max-width: 600px;
  }

  .page-nav {
    animation: slideUp 500ms both;
    animation-delay: 400ms;
    align-self: flex-end;
    background: $white-10;
    position: relative;
    width: 100%;
    z-index: 6;

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    li {
      color: $white;
      cursor: pointer;
      font-family: $bptext-font;
      font-size: 19px;
      font-weight: 500;
      margin: 0 5px;
      padding: 15px 10px;

      &:hover {
        background: $white-10;
      }
    }
  }


  .hero-desc {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    max-width: 700px;
    margin-bottom: 20px;

     a {
      color: $white-80;
     }
  }

}

.static-hero-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#187be5+38,187be5+38,187be5+99&0.95+38,0.75+100 */
  background: -moz-linear-gradient(left, rgba(24,123,229,0.95) 38%, rgba(24,123,229,0.75) 99%, rgba(24,123,229,0.75) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(24,123,229,0.95) 38%,rgba(24,123,229,0.75) 99%,rgba(24,123,229,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(24,123,229,0.95) 38%,rgba(24,123,229,0.75) 99%,rgba(24,123,229,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7187be5', endColorstr='#bf187be5',GradientType=1 ); /* IE6-9 */
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.static-page-title {
  animation: slideLeft 500ms both;
  animation-delay: 200ms;
  color: $white;
  font-family: $bptext-font;
  font-size: 42px;
  font-weight: 600;
  text-shadow: 3px 3px $dark-gray-10;
}

.static-page-subtitle {
  animation: slideLeft 500ms both;
  animation-delay: 300ms;
  font-family: $bptext-font;
  font-size: 30px;
  font-weight: 400;

  &.light {
    color: $white-80;
  }
}

.static-page-hero-btn-container {
  animation: slideLeft 500ms both;
  animation-delay: 400ms;
}

.static-page-header {
  font-family: $bptext-font;
  font-size: 36px;
  font-weight: 600;
}

.static-page-desc {
  color: $dark-gray-60;
  font-size: 21px;
}

@media (max-width: $breakpt-mobile) {
  .static-page-hero {
    max-height: 600px;

    .page-nav {
      display: none;
    }
  }

  .static-page-title {
    font-size: 34px;
  }

  .static-page-subtitle {
    font-size: 25px;
  }

  .static-page-header {
    font-size: 28px;
  }

  .static-page-desc {
    font-size: 18px;
  }
}

