#left-banner, #right-banner {
  width: 50%;
  height: 600px;
  background: url(http://goo.gl/MGh98r);
  background-size: cover;
  float: left;
}

#right-banner {
    float: right;
}

#left-title, #right-title {
  padding-top: 200px;
}

#left-subtitle, #right-subtitle {
  margin-top: -15px;
  font-size: 2em;
  font-weight: 400;
}
