// Vendor -------------------------

// Import Bootstrap grid
@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/grid";
@import "bootstrap/dropdowns";

// Reset browser-specific CSS
@import "vendor/normalize";
@import "partials/reset";

// FontAwesome
@import "font-awesome";

// Other
@import "vendor/toastr";


// Stylesheets --------------------

// Partials
@import "partials/variables";
@import "partials/animations";
@import "partials/fonts";
@import "partials/layout";

// Styles
@import "components/*";

@import "pages/*";
@import "apply/*";
@import "nonprofit_applications/*";
@import "nonprofit_interest_forms/*";
@import "shared/newsletter-subscribe";

.content {
  position: relative;
}
