$laptop-width: 969px;
$small-screen: em(420);

#home-banner {
  width: 100%;
  height: 600px;
  margin-bottom: 200px;
  background: image-url('home/banner-bg.jpg');
  background-size:cover;
  position: relative;

  @include media(max-width $medium-screen) {
    height: 400px;
    margin-bottom: 150px;
  }

}

#laptop {
  position: absolute;
  bottom: -175px;
  max-height: 650px;
  height: 100%;
  width: 100%;
  text-align:center;

  @include media(max-width $medium-screen) {
    bottom:-120px;
  }

  #laptop-bg-container {
    position: relative;
    z-index:2;
    bottom: 0px;

    @include media(max-width $laptop-width) {
      position: absolute;
      bottom: 0px;
    }
  }

  #laptop-bg {
    height: auto;
    width: 100%;
    max-width: $laptop-width;
  }

  #laptop-content-container {
    position: absolute;
    width: 100%;
    text-align:center;
    padding-top: 25px;
    z-index: 0;

    @include media(max-width $large-screen) {
      padding-top: 2.3%;
    }

    @include media(max-width $laptop-width) {
      padding-top: 0px;
      padding-bottom: 6.5%;
      position: absolute;
      bottom: 0px;
    }
  }

  #laptop-content {
    height: auto;
    width: 83%;
    max-width: 795px;
    border-top:10px solid black;
  }
}


#home-title {
  padding-top: 50px;

  @include media(max-width $small-screen) {
    padding-top: 30px;
  }
}

#smartphone-bg-container {
  position: relative;
  z-index:2;
  bottom: 0px;
}

#smartphone-bg {
  height: auto;
  width: 100%;
  max-width: $laptop-width;
}

#smartphone-content-container {
  position: absolute;
  width: 100%;
  text-align:center;
  z-index: 0;
  padding-right: $gutter;
  padding-bottom: 18%;
  bottom: 0px;
}

#smartphone-content {
  height: auto;
  width: 71%;
  max-width: 795px;
}


#our-projects {
  text-align:left !important;
  p {
    text-align:left;
  }

  h1 {
    text-align:left;
  }
}
