#home-banner {
  width: 100%;
  height: 600px;
  background: url(http://goo.gl/MGh98r);
  background-size: cover;
}

#home-title {
  padding-top: 200px;
}

#home-subtitle {
  margin-top: -15px;
  font-size: 2em;
  font-weight: 400;
}