$block-height: 300px;

.projects-background { 
  width: 100%;
  background-color: #eaeaea;
}

.projects-section {
  @extend .columns;
  @extend .small-11;
  @extend .small-centered;
}

.project {
  @extend .row;

  .project-image {
    @extend .columns;
    @extend .small-12;
    @extend .medium-4;
    @extend .large-5;
    height: $block-height;
    background-size: cover;
    box-shadow: 2px 2px 1px #CCCCCC;
    border-radius: 2px 0px 0px 2px;
  }

  .project-card {
    @extend .columns;
    @extend .small-12;
    @extend .medium-8;
    @extend .large-7;
    height: $block-height;
    background-color: white;
    box-shadow: 2px 2px 1px #CCCCCC;
    border-radius: 0px 2px 2px 0px;

    .project-card-text {
      color: #565a5c;
      text-align: left;
    }
    .project-title {
      @extend .project-card-text;
      padding: 0px 8px;
      height: 57px;
      line-height: 57px;
      overflow: hidden;
    }
    .project-description {
      @extend .project-card-text;
      font-size: 16px;
      line-height: 16px;
      padding: 0px 8px;
      height: 48px;
    }
    .project-subtitle {
      @extend.project-card-text;
      font-size: 14px;
      line-height:14px;
      padding: 12px 8px 12px;
      display: block;
    }
    .project-member-images {
      margin-left: 4px;
    }
    .project-member-image {
      display: inline-block;
      height: 48px;
      width: 48px;
      border-radius: 24px;
      background-color: $blue;
      margin: 4px 4px;
    }
    .project-progress {
      margin-left: 8px;
    }

    .project-progress-scope {
      display: inline-block;
      height: 8px;
      width: 20%;
      margin: 0px 2px 4px 0px;
      background-color: #FF7E79;
    }
  }
}
.projects-banner {
  background-image: image-url("projects/projects-banner.png");
  background-position: center;
  background-size: cover;
  color: white;
  height: 220px;
}

.projects-banner-text {
  line-height: 220px;
}

