meta[property="og:url" content="//www.calblueprint.org"]
meta[property="og:title" content="Redprint"]
meta[property="og:type" content="website"]
meta[property="og:description" content="We’re a team of UC Berkeley students that develops software pro bono for nonprofits and promotes technology for social good."]
meta[property="og:image" content="https://raw.githubusercontent.com/calblueprint/calblueprint.org/main/app/assets/images/facebook_banner.png"]

meta[property="twitter:card" content="summary_large_image"]
meta[property="twitter:site" content="@calblueprint"]
meta[property="twitter:title" content="Blueprint, Technology for Nonprofits"]
meta[property="twitter:description" content="We’re a team of UC Berkeley students that develops software pro bono for nonprofits and promotes technology for social good."]
meta[property="twitter:image" content="https://raw.githubusercontent.com/calblueprint/calblueprint.org/main/app/assets/images/facebook_banner.png"]
