meta property="og:url" content="http://www.calblueprint.org"
meta property="og:title" content="Cal Blueprint"
meta property="og:type" content="website"
meta property="og:description" content="Build technology that improves the world. Cal Blueprint pairs motivated teams with local non-profits to create solutions for social good, pro bono."
meta property="og:image" content="https://raw.githubusercontent.com/calblueprint/calblueprint.org.old/master/app/assets/images/banner-facebook.png"
