<% unless obj.errors.none? %>
  <noscript>
    <div class ="errors">
      <div class="columns small-12">
        <% obj.errors.full_messages.each do |message| %>
          <div class="row">
          <%= message %>
          </div>
        <% end%>
      </div>
    </div>
  </noscript>

  <script type="text/javascript">
    <% obj.errors.full_messages.each do |message| %>
      toastr['error']('<%= message %>');
    <% end%>
  </script>
<% end %>
