= render "navbar"

.container.form-container
  .apply-page-header.marginBot-lg
    h1 Student Application
    - if @settings.dev_app_open && @settings.designer_app_open == 'open'
      h2 All Positions
    - elsif @settings.dev_app_open
      h2 Developer Position
    - elsif @settings.designer_app_open == 'open'
      h2 Designer Position

  p.static-page-desc.marginBot-md
    = t '.banner'
    | The application is due on
    strong.apply-page-due< Friday, September 4th at 11:59 pm.

  p.static-page-desc
    | If you have any questions, please contact us
    span< = link_to "here", new_contact_form_path
    |. Good luck!

  .application-form.marginTop-xl
    = render "form_errors", obj: @student_application
    - @student_application.responses.each do |r|
      = render "form_errors", obj: r

    = simple_form_for @student_application, url: student_applications_path do |f|
      = f.simple_fields_for :responses do |form|
        -  @student_application.responses.select {|r| r.question.question_category == "general"}.each do |r|
          = render partial: 'questions/' + r.question.question_type, locals: {response: r, question: r.question, form: form}

        h3.apply-page-more-questions Short Answer Questions
        p.static-page-desc These questions help us get to know you and your connection to our mission!

        -  @student_application.responses.select {|r| r.question.question_category == "short_answer"}.each do |r|
          = render partial: 'questions/' + r.question.question_type, locals: {response: r, question: r.question, form: form}

        - if @student_application.responses.select {|r| r.question.question_category == "background"}.count > 0
          h3.apply-page-more-questions Background Questions
          p.static-page-desc These questions are to give you space to tell us about your background and experiences. 
          -  @student_application.responses.select {|r| r.question.question_category == "background"}.each do |r|
            = render partial: 'questions/' + r.question.question_type, locals: {response: r, question: r.question, form: form}

        - if @student_application.responses.select {|r| r.question.question_category == "more_questions"}.count > 0
          h3.apply-page-more-questions Additional Info
          -  @student_application.responses.select {|r| r.question.question_category == "more_questions"}.each do |r|
            = render partial: 'questions/' + r.question.question_type, locals: {response: r, question: r.question, form: form}

      div.marginTop-lg
        = f.button :submit, 'Submit Application', disabled: true, class: "bp-btn btn-lg"

javascript:
  $('.student_application_responses_why_no_bp_games').hide();
  $('.student_application_responses_why_no_retreat').hide();
  $('.student_application_responses_why_no_bwbp').hide();
  $('.student_application_responses_why_no_meet_the_club').hide();
  $('input[type="submit"]').prop("disabled", !$('#student_application_responses_time_commitment_acknowledgement').is(':checked'));

  var devOption = $('#student_application_responses_application_type_developer');
  var designOption = $('#student_application_responses_application_type_designer'); 
  var combinedOption = $('#student_application_responses_application_type_developer_and_designer');
  $BPGamesTrue = $("#student_application_responses_available_for_bp_games_yes");
  $BPGamesFalse = $("#student_application_responses_available_for_bp_games_no");

  function toggleBPGames() {
    if ($BPGamesTrue.prop("checked") || designOption.prop("checked")) {
      $('.student_application_responses_why_no_bp_games').hide();
    } else if ($BPGamesFalse.prop("checked")) {
      $('.student_application_responses_why_no_bp_games').show();
    }
  }

  $BPGamesTrue.click(toggleBPGames);
  $BPGamesFalse.click(toggleBPGames);

  // Toggle why no BWBP question
  $("input[type=radio][name='student_application[responses][available_for_bwbp]']").change(function() {
    if ($(this).val() == 'Neither') {
      $('.student_application_responses_why_no_bwbp').show()
    } else {
      $('.student_application_responses_why_no_bwbp').hide()
    }
  });
  // Check on initial
  if ($("#student_application_responses_available_for_bwbp_neither").prop('checked')) {
    $('.student_application_responses_why_no_bwbp').show()
  } else {
    $('.student_application_responses_why_no_bwbp').hide()
  }

  // Toggle why no Meet the Club question
  $("input[type=radio][name='student_application[responses][available_for_meet_the_club]']").change(function() {
    if ($(this).val() == 'Neither') {
      $('.student_application_responses_why_no_meet_the_club').show()
    } else {
      $('.student_application_responses_why_no_meet_the_club').hide()
    }
  });
  // Check on initial
  if ($("#student_application_responses_available_for_meet_the_club_neither").prop('checked')) {
    $('.student_application_responses_why_no_meet_the_club').show()
  } else {
    $('.student_application_responses_why_no_meet_the_club').hide()
  }

  if (designOption.prop("checked")) {
    $('.student_application_responses_available_for_bp_games').hide();
  }
  if (devOption.prop("checked")) {
    $('.student_application_responses_design_portfolio').hide();
  }
  
  devOption.click(function() {
    $('.student_application_responses_design_portfolio').hide();
    $('.student_application_responses_available_for_bp_games').show();
    toggleBPGames();
  });
  designOption.click(function() {
    $('.student_application_responses_design_portfolio').show();
    $('.student_application_responses_available_for_bp_games').hide();
    toggleBPGames();
  });
  combinedOption.click(function() {
    $('.student_application_responses_design_portfolio').show();
    $('.student_application_responses_available_for_bp_games').show();
    toggleBPGames();
  });


  $retreatTrue = $("#student_application_responses_available_for_retreat_yes");
  $retreatFalse = $("#student_application_responses_available_for_retreat_no");

  function toggleRetreat() {
    if ($retreatTrue.prop("checked")) {
      $('.student_application_responses_why_no_retreat').hide();
    } else {
      $('.student_application_responses_why_no_retreat').show();
    }
  }

  $retreatTrue.click(toggleRetreat);
  $retreatFalse.click(toggleRetreat);

  $('#student_application_responses_time_commitment_acknowledgement').on('click', function() {
    if($(this).is(':checked')) {
      $('input[type="submit"]').prop("disabled", false)
    } else {
      $('input[type="submit"]').prop("disabled", true)
    }
  });
